{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
    <div class="searches mg_t30 mg_b30">
    <form  action="{% url 'recipe_list' %}" method="get" class="search_word mg_b40">
           <input class="search" type="text" name="query" placeholder="レシピを検索" aria-label="Search">
           <button class="search_btn">
               <i class="fas fa-search"></i>
           </button>
    </form>
    </div>
    <section class="recipe_list mg_t30">
         <div class="recipes mg_t30">
            {% for Recipe in recipe %}
                <a href="{% url 'recipe_detail' Recipe.pk%}">
                    <div class="recipe_one">
                        <img class="recipe_img" src="{{ MEDIA_URL }}{{ Recipe.recipe_img1 }}">
                        <p class="recipe_title">{{ Recipe.recipe_title | truncatechars:15}}</p>
                        <p class="recipe_time">調理時間 {{ Recipe.get_recipe_time_display }}</p>
                        <p class="recipe_name">投稿者:{{ Recipe.user.business_person_name }}</p>
                    </div>
                </a>
            {% endfor %}
         </div>
    </section>
{% endblock body %}