{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
     <section class="recipe_detail">
        <h5 class="recipe_title_detail pd_t30">{{ recipe.recipe_title }}</h5>
         <div class="swiper-container mg_t30">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ recipe.recipe_img1 }}" alt=""></div>
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ recipe.recipe_img2 }}" alt=""></div>
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ recipe.recipe_img3 }}" alt=""></div>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next swiper-button-black"></div>
        </div>
         <p class="recipe_time_detail">調理時間 {{ recipe.get_recipe_time_display  }}</p>
         <p class="recipe_name_detail mg_t10">著者：{{ recipe.user.business_person_name }}</p>
         <h5 class="text_recipe mg_t50">調理手順</h5>
         <hr class="recipe_hr">
         <p class="recipe_text_detail">{{ recipe.recipe_text| safe }}</p>
         <hr class="recipe_hr">
         {% if request.user in object.good.all %}
             <div class="text-center mg_t30">
                 <a href="{% url 'good-detail' object.pk %}" class="delete_item mg_t20" tabindex="-1" role="button" aria-disabled="true">
                     <button type="submit" class="btn btn-primary delete_item "><i class="fas fa-list pd_r10"></i>マイレシピに追加済み</button>
                 </a>
             </div>
         {% else %}
             <div class="text-center mg_t30">
                 <a href="{% url 'good-detail' object.pk %}" class="mg_l10" tabindex="-1" role="button" aria-disabled="true">
                     <button type="button" class="btn btn-outline-primary add_like"><i class="far fa-plus-square pd_r10"></i>マイレシピに追加</button>
                 </a>
             </div>
         {% endif %}
         <h5 class="text_recipe mg_t50">タグ</h5>
         <p class="recipe_tag_detail">{{ recipe.food_tag }}</p>
         <p class="recipe_add_time_detail mg_t30">{{ recipe.add_time |date:"Y年 m月 d日"}}</p>
     </section>
{% endblock body %}