{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
    <div class="searches mg_t30 mg_b30">
        <form  action="{% url 'recipe_time' %}" method="get" class="search_word mg_b40">
            <select class="btn btn-light select_search" name="data">
                <option value="">全て</option>
                <option value="1">10分以内</option>
                <option value="2">10分</option>
                <option value="3">20分</option>
                <option value="4">30分</option>
                <option value="5">40分</option>
                <option value="6">50分</option>
                <option value="7">60分</option>
                <option value="8">60分以上</option>
            </select>
            <button class="search_btn">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <section class="recipe_list mg_t30">
         <div class="recipes mg_t30">
            {% for Recipe in recipe %}
                <a href="{% url 'recipe_detail' Recipe.pk%}">
                    <div class="recipe_one">
                        <img class="recipe_img" src="{{ MEDIA_URL }}{{ Recipe.recipe_img1 }}">
                        <p class="recipe_title">{{ Recipe.recipe_title | truncatechars:15}}</p>
                        <p class="recipe_time">調理時間 {{ Recipe.get_recipe_time_display }}</p>
                        <p class="recipe_name">投稿者:{{ Recipe.user.business_person_name }}</p>
                    </div>
                </a>
            {% endfor %}
         </div>
    </section>
{% endblock body %}