{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
    <h5 class="heading_text mg_t30 mg_l10">お気に入り</h5>
    <section class="listing_home mg_t30">
            {% for Listing in item_data %}
                {% if request.user in Listing.like.all %}
                <a href="{% url 'listing_detail' Listing.slug%}">
                    <div class="listing_card mg_t10">
                          <img class="listing_img" src="{{ MEDIA_URL }}{{ Listing.listing_img1 }}">
                          <div class="listing_text">
                              <h5 class="card-title listing_name pd_l10 pd_r10 mg_t15">{{ Listing.listing_name| truncatechars:15 }}</h5>
                              <p class="card-text listing_price pd_l20 mg_t15">￥{{ Listing.listing_price| intcomma }}</p>
                              <a href="{% url 'like-home' Listing.pk %}" class="delete_item mg_t20" tabindex="-1" role="button" aria-disabled="true"><button type="submit" class="btn btn-outline-danger delete_item ">削除</button></a>
                              <a href="{% url 'additem' Listing.slug  %}" ><button type="submit" class="btn btn-warning mg_t10">カートに入れる</button></a>
                              <p class="card-text listing_type mg_t20 pd_b10">{{ Listing.listing_user.business_person_name }}</p>
                          </div>
                    </div>
                </a>
                {% else %}
                {% endif %}
            {% endfor %}
    </section>
{% endblock body %}