{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
    <section class="listing_detail">
        <h4 class="listing_name_detail pd_l10 pd_r10 pd_t30">{{ object.listing_name }}</h4>
        <p class="listing_type_detail pd_l20 pd_t10">{{ object.get_listing_type_display }}</p>
        <div class="swiper-container mg_t15">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ object.listing_img1 }}" alt=""></div>
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ object.listing_img2 }}" alt=""></div>
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ object.listing_img3 }}" alt=""></div>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next swiper-button-black"></div>
        </div>

        <p class="price_text">特別販売価格</p>
        <p class="listing_price_detail pd_l10">￥{{ object.listing_price| intcomma }}</p>
              {% if request.user in object.like.all %}
                  <a href="{% url 'additem' object.slug  %}" class="mg_l30"><button type="submit" class="btn btn-warning listing_cart_detail">カートに入れる</button></a>
              {% else %}
                  <div class="text-center">
                  <a href="{% url 'additem' object.slug  %}" class=""><button type="submit" class="btn btn-warning listing_cart_detail">カートに入れる</button></a>
                  <a href="{% url 'like-detail' object.pk %}" class="mg_l10" tabindex="-1" role="button" aria-disabled="true"><button type="button" class="btn btn-outline-dark add_like"><i class="far fa-heart heart_false"></i>お気に入りに追加</button></a>
                  </div>
              {% endif %}
        <div class="tab-wrap mg_t50">
            <input id="TAB02-01" type="radio" name="TAB02" class="tab-rest" checked="checked" /><label class="tab-label switch_black" for="TAB02-01">店舗情報</label>
            <div class="tab-content">
                <p class="listing_detail_rest_text pd_t30">店舗名</p>
                <p class="restaurant_listing_detail">{{ object.listing_user.rest_name}}</p>
                <p class="listing_detail_rest_text pd_t10">住所</p>
                <p class="restaurant_listing_detail">〒{{ object.listing_user.zip_code}}</p>
                <p class="restaurant_listing_detail">{{ object.listing_user.get_prefectures_display}} {{ object.listing_user.city}}</p>
                <p class="restaurant_listing_detail">{{ object.listing_user.address1}} {{ object.listing_user.address2}}</p>
                <p class="listing_detail_rest_text pd_t10">連絡先</p>
                <p class="restaurant_listing_detail">TEL {{ object.listing_user.phone}}</p>
            </div>
            <input id="TAB02-02" type="radio" name="TAB02" class="tab-rest" /><label class="tab-label switch_blue rest_label" for="TAB02-02">商品説明</label>
            <div class="tab-content">
                <p class="listing_text_detail pd_l20 pd_r20 ">{{ object.listing_text }}</p>
            </div>
        </div>

    </section>
{% endblock body %}