{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
    <section class="listing_detail mg_t15">
        <h4 class="listing_name_detail pd_l10 pd_r10 pd_t30">{{ object.listing_name }}</h4>
        <p class="listing_type_detail pd_l20 pd_t10">{{ object.get_listing_type_display }}</p>
        <div class="swiper-container mg_t15">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ object.listing_img1 }}" alt=""></div>
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ object.listing_img2 }}" alt=""></div>
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ object.listing_img3 }}" alt=""></div>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next swiper-button-black"></div>
        </div>
        <div class="mg_l30 mg_t20 mg_b20">
        </div>
        <div class="text-right">
            <p class="listing_user_detail mg_t10 pd_r20">{{ object.listing_user.business_person_name }}</p>
        </div>
        <p class="listing_price_detail pd_l10">￥{{ object.listing_price| intcomma }}</p>
              {% if request.user in object.like.all %}
                  <a href="{% url 'additem' object.slug  %}" class="mg_l30"><button type="submit" class="btn btn-warning">カートに入れる</button></a>
              {% else %}
                  <div class="text-center">
                  <a href="{% url 'additem' object.slug  %}" class=""><button type="submit" class="btn btn-warning">カートに入れる</button></a>
                  <a href="{% url 'like-detail' object.pk %}" class="mg_l10" tabindex="-1" role="button" aria-disabled="true"><button type="button" class="btn btn-outline-dark add_like"><i class="far fa-heart heart_false"></i>お気に入りに追加</button></a>
                  </div>
              {% endif %}
        <h5 class="text_title pd_l10 mg_t50">商品説明</h5>
        <p class="listing_text_detail pd_l20 pd_r20">{{ object.listing_text }}</p>
    </section>
{% endblock body %}