{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <section class="listing_create pd_b30">
        <form class="listing_form" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <p class="listing_create_text">商品画像</p>
            <div class="swiper-container mg_t15">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><div class="img_preview pd_b10 mg_t15" id="preview1"></div></div>
                    <div class="swiper-slide"><div class="img_preview pd_b10 mg_t15" id="preview2"></div></div>
                    <div class="swiper-slide"><div class="img_preview pd_b10 mg_t15" id="preview3"></div></div>
                </div>
                <div class="swiper-pagination swiper-pagination-white"></div>
                <div class="swiper-button-prev swiper-button-black"></div>
                <div class="swiper-button-next swiper-button-black"></div>
            </div>
            <div class="div_listing">
                <div class="registration_listing mg_t15">
                    <label for="id_listing_img1" class="filelabel_listing">1枚目を選択</label>
                    <table class="table m-0">{% render_field form.listing_img1|add_class:"fileinput"|attr:"onChange:restImgPreView(event,'preview1')" %}</table>
                </div>
                <div class="registration_listing mg_t15">
                    <label for="id_listing_img2" class="filelabel_listing">2枚目を選択</label>
                    <table class="table m-0">{% render_field form.listing_img2|add_class:"fileinput"|attr:"onChange:restImgPreView(event,'preview2')" %}</table>
                </div>
                <div class="registration_listing mg_t15">
                    <label for="id_listing_img3" class="filelabel_listing">3枚目を選択</label>
                    <table class="table m-0">{% render_field form.listing_img3|add_class:"fileinput"|attr:"onChange:restImgPreView(event,'preview3')" %}</table>
                </div>
            </div>
            <p class="listing_create_text">商品の分類</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.listing_type class="listing_name_form" placeholder=""%}</table>
            </div>
            <p class="listing_create_text">商品名</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.listing_name class="listing_name_form" placeholder=""%}</table>
            </div>
            <p class="listing_create_text">商品説明</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.listing_text class="listing_text_form" placeholder=""%}</table>
            </div>
            <p class="listing_create_text">販売価格</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.listing_price class="listing_price_form" placeholder="※数字以外は入力できません"%}</table>
            </div>
            <p class="listing_create_text">消費までの時間</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.consumption_time class="listing_name_form" placeholder=""%}</table>
            </div>
            <p class="listing_create_text">チェック欄</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.sale class="sale_form" placeholder=""%}</table>
            </div>
            <div class="text-center mg_t70 pd_b100">
                <button type="submit" class="btn btn-success listing_btn">出品</button>
            </div>
        </form>
    </section>
{% endblock body %}