{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <section class="listing_create body_sub_auto">
        <form class="listing_form" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <p class="listing_create_text">商品の分類</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.listing_type class="listing_name_form" placeholder=""%}</table>
            </div>
            <p class="listing_create_text">商品名</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.listing_name class="listing_name_form" placeholder=""%}</table>
            </div>
            <p class="listing_create_text">商品説明</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.listing_text class="listing_text_form" placeholder=""%}</table>
            </div>
            <p class="listing_create_text">販売価格</p>
            <div class="registration">
                <table class="table m-0">￥{% render_field form.listing_price class="listing_price_form" placeholder="※数字以外は入力できません"%}</table>
            </div>
            <p class="listing_create_text">消費までの時間</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.consumption_time class="listing_name_form" placeholder=""%}</table>
            </div>
            <p class="listing_create_text">商品状態の変更</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.status class="listing_name_form" placeholder=""%}</table>
            </div>
            <div class="text-center mg_t70 pd_b100 mg_t70_sub pd_b100_sub">
                <button type="submit" class="btn btn-success listing_btn">変更</button>
            </div>

        </form>
    </section>
{% endblock body %}