{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
    <section class="listing_detail mg_t15">
        <h4 class="listing_name_detail pd_l10 pd_r10 pd_t30">{{ item_data.listing_name }}</h4>
        <p class="listing_type_detail pd_l20 pd_t10">{{ item_data.get_listing_type_display }}</p>
        <div class="swiper-container mg_t15">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ item_data.listing_img1 }}" alt=""></div>
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ item_data.listing_img2 }}" alt=""></div>
                <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ item_data.listing_img3 }}" alt=""></div>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next swiper-button-black"></div>
        </div>
        <div class="text-right">
            <p class="listing_user_detail mg_t10 pd_r20">{{ item_data.listing_user }}</p>
        </div>
        <p class="listing_price_detail pd_l10">￥{{ item_data.listing_price| intcomma }}</p>
        <a href="{% url 'additem' item_data.slug  %}">カートに入れる</a>
        <h5 class="text_title pd_l10 mg_t50">商品説明</h5>
        <p class="listing_text_detail pd_l20 pd_r20">{{ item_data.listing_text }}</p>
    </section>
{% endblock body %}