{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}

     <section class="listing_home mg_t30">
            {% for Listing in object.listing_set.all %}
                <a href="{% url 'listing_detail' Listing.slug%}">
                    <div class="listing_card mg_t10">
                          <img class="listing_img" src="{{ MEDIA_URL }}{{ Listing.listing_img1 }}">
                          <div class="listing_text">
                              <h5 class="card-title listing_name pd_l10 pd_r10 mg_t15">{{ Listing.listing_name| truncatechars:15 }}</h5>
                              <p class="card-text listing_price pd_l20 mg_t15">￥{{ Listing.listing_price| intcomma }}</p>
                              <a href="{% url 'listing_update' Listing.pk %}" class="mg_l10"><button class="btn btn-outline-primary edit_btn">編集</button></a>
                              <p class="card-text listing_type mg_t20 pd_b10">{{ Listing.listing_user.business_person_name }}</p>
                          </div>
                    </div>
                </a>
            {% endfor %}
        </section>

{% endblock body %}