{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}



{% block body %}
    <section class="cart mg_t50 pd_b50">
        {% if order.get_total %}
            <p class="pd_l10 total">小計 ￥{{ order.get_total |floatformat:0 | intcomma}}</p>
        <div class="total_fee pd_b30">
            <a class="mg_t15" href="{% url 'payment' %}"><button type="submit" class="btn btn-warning">レジに進む</button></a>
            <a class="continue mg_t10" href="{% url 'home' %}">買い物を続ける</a>
        </div>
        {% else %}
        <div class="text-center">
            <a class="continue_no_cart mg_t10" href="{% url 'home' %}">買い物を続ける</a>
        </div>
        {% endif %}
        {% for order_item in order.items.all %}
            <div class="order_item">
                <div class="name_img_listing">
                    <img class="cart_img pd_t30 pd_l30" src="{{ MEDIA_URL }}{{ order_item.item.listing_img1 }}" alt="">
                    <h5 class="cart_name pd_t30 pd_l20">{{ order_item.item.listing_name }}</h5>
                </div>
                <div class="quantity_item mg_t15">
                    <p class="quantity pd_l30">数量</p>
                    <a href="{% url 'removesingleitem' order_item.item.slug %}"><i class="fas fa-minus mg_l10"></i></a>
                    <p class="quantity_main mg_l5">{{ order_item.quantity }}</p>
                </div>
                    <a class="mg_l10" href="{% url 'removeitem' order_item.item.slug %}"><button type="submit" class="btn btn-outline-danger mg_t10 delete_item ">削除</button></a>
                <p class="individual_item pd_l30 mg_t15 pd_b30">税込 ￥{{ order_item.get_total_item_price |floatformat:0 | intcomma}}</p>
                {% if not forloop.last %}
                {% endif %} {% empty %}
                <p class="no_cart mg_t15">カートに商品がありません</p>
            </div>
        {% endfor %}
    </section>
{% endblock body %}