{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
    <div class="my-5">
  <h3>注文内容を確認する</h3>
</div>

<form action="." method="POST" id="payment-form">
  <div class="row order">
    <div class="col-md-9">
      <div class="card px-4">
        <div class="card-body px-2 py-3">
          <div class="row">
            <div class="col-md-6">
              <p class="font-weight-bold">お届け先住所</p>
              <p>名前：{{ user_data.first_name }} {{ user_data.last_name }}</p>
              <p>住所：{{ user_data.zip_code }}</p>
            </div>
            <div class="col-md-6">
              <p class="font-weight-bold">お支払い方法</p>
              {% csrf_token %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center px-2 py-3">
          <div class="mb-3">
            <button class="btn btn-warning" type="submit">
              注文を確定する
            </button>
          </div>
          <p class="font-weight-bold">注文内容</p>
          <p>商品の小計：{{ order.get_total }}円</p>
          <hr />
          <p class="font-weight-bold text-danger">
            ご請求金額：{{ order.get_total }}円
          </p>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock body %}