{% extends 'app/base.html' %}
{% load static %}

{% block body %}
    <section class="signup_finish mg_t50">
        <h4 class="signup_finish_text mg_t50"><span class="blue">t</span>ri<span class="red">an</span>gl<span class="yellow">e</span></h4>
        <h6 class="signup_finish_text_main mg_t50">ご購入ありがとうございます。</h6>
        <P class="signup_finish_text_sub mg_t30">商品発送後メールにてお知らせ致します。</P>
        <div class="mg_t30">
            <i class="fas fa-sign-in-alt finish pd_l10"></i>
            <a class="link_black_finish pd_r10"  href="{% url 'home' %}">お買い物を続ける</a>
        </div>
    </section>

{% endblock body %}