{% extends 'app/base.html' %}
{% load static %}

{% block body %}
    <section class="signup_finish mg_t50 body_sub pd_t50_sub">
        <h4 class="signup_finish_text mg_t50"><span class="blue">t</span>ri<span class="red">an</span>gl<span class="yellow">e</span></h4>
        <h6 class="signup_finish_text_main mg_t50 mg_t50_sub">ご購入ありがとうございます。</h6>
        <P class="signup_finish_text_sub mg_t30 mg_t30_sub">ガイドラインに従い注文を受け取り下さい。</P>
        <div class="mg_t30 mg_t30_sub">
            <i class="fas fa-sign-in-alt finish pd_r10 pd_r10_sub"></i>
            <a class="link_black_finish pd_r10"  href="{% url 'home' %}">お買い物を続ける</a>
        </div>
    </section>

{% endblock body %}