{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <section class="email_change body_sub">
        <form class="email_change_form" method="POST">
             <h5 class="individual_text">メールアドレスの変更</h5>
            {% csrf_token %}
            <div class="registration pd_t50 pd_t70_sub ">
                <table class="table">{% render_field form.email class="sign_up_user" placeholder="新しいメールアドレス"%}</table>
            </div>
            <div class="text-center mg_t50 mg_t70_sub">
                <button type="submit" class="btn btn-primary signup_btn">変更</button>
            </div>
        </form>
    </section>
{% endblock body %}