{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <section class="login mg_t50 body_sub pd_t50_sub pd_b50_sub">
        <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
            <a href="{% url 'social:begin' 'google-oauth2' %}">Googleでログイン</a>
        </form>
{#    {% if user.is_authenticated %}#}
{#        <p class="display-4">Hello, {{ user.username }}</p>#}
{#        <a class="lead" href="{% url 'logout' %}">Log out</a>#}
{#    {% else %}#}
{#        <a class="lead" href="{% url 'login' %}">Log in</a>#}
{#    {% endif %}#}
    </section>
{% endblock body %}