{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <section class="">
        <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

            <div class="registration social-buttons mg-t200">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google w-50 mx-auto" style="background-color:DD4B39; color: aliceblue;">
                    <span class="fa fa-google" style="color: aliceblue;"></span> Googleでサインイン
                </a>
            </div>
        </form>
    </section>
{% endblock body %}
