{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <section class="login mg_t50">
        <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
            <div class="registration">
                <table class="table">{% render_field form.username class="registration_main" placeholder="メールアドレス" %}</table>
            </div>
            <div class="registration mg_t20">
                <table class="table">{% render_field form.password class="registration_main" placeholder="パスワード" %}</table>
            </div>
            <div class="login_link_group mg_t50">
                <a class="login_link" href="{% url 'signup' %}">新規登録はこちら</a>
                <a class="login_link" href="{% url 'password_reset' %}">パスワードをお忘れですか？</a>
            </div>
            <div class="text-center mg_t50">
                <button type="submit" class="btn login_btn">ログイン</button>
            </div>
        </form>
    </section>
{% endblock body %}