{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <section class="password_reset mg_t30 pd_b30">
        <h5 class="change_text">パスワードの再設定</h5>
        <p class="change_text_detail mg_t30">※下記に登録済みのメールアドレスを入力してください。</p>
        <form class="password_reset_form" method="POST">
            {% csrf_token %}
            <p class="signup_text_detail mg_t50">登録済みメールアドレス</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.email class="registration_main"%}</table>
            </div>
            <div class="text-center mg_t50">
                <button type="submit" class="btn signup_registration_btn">送信</button>
            </div>
        </form>
    </section>
{% endblock body %}