{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <section class="password_reset">
        <h5 class="password_change_text">パスワードの再設定</h5>
        <p class="password_change_text_detail">※登録済みメールアドレスにパスワードの再設定メールを送信致します。</p>
        <form class="password_reset_form" method="POST">
            {% csrf_token %}
            <div class="registration">
                <table class="table width_100">{% render_field form.email class="password_change" placeholder="登録済みメールアドレス"%}</table>
            </div>
            <div class="text-center mg_t50">
                <button type="submit" class="btn btn-primary signup_btn">送信</button>
            </div>
        </form>
    </section>
{% endblock body %}