{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <section class="password_change mg_t50 pd_b30">
    <h5 class="change_text">パスワードの再設定</h5>
        <form action="" method="POST">
        {% csrf_token %}
            <div class="registration">
                <table class="table width_100">{% render_field form.new_password1 class="registration_main" placeholder="新しいパスワード"%}</table>
            </div>
            <div class="registration">
                <table class="table width_100">{% render_field form.new_password2 class="registration_main" placeholder="再入力"%}</table>
            </div>
            <div class="text-center mg_t50">
                <button type="submit" class="btn signup_registration_btn">送信</button>
            </div>
        </form>
    </section>
{% endblock body %}