{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <h4 class="change_text mg_t40 mg_b40 text_C font_border mg_t60_sub mg_b60_sub text_C_sub font_border_sub ">パスワードの再設定</h4>
    <section class="password_change back_base back_base_sub">
        <form action="" method="POST">
        {% csrf_token %}
            <p class="rest_password_text mg_b5 pd_l10 pd_t20 pd_l25_sub mg_b5_sub">new password</p>
            <hr class="hr mg_t10 mg_b20 width_95  mg_b10_sub mg_t0_sub width_95 width_95_sub">
           <div class="new_password1 mg_b40 pd_l10 pd_l25_sub mg_b60_sub">
                <table class="table">{% render_field form.new_password1 class="form_new_password line-none width_80 line-none_sub width_80_sub" placeholder="新しいパスワードの入力" %}</table>
            </div>
            <p class="rest_password_text mg_b5 pd_l10 pd_t20 pd_l25_sub mg_b5_sub">again new password</p>
            <hr class="hr mg_t10 mg_b20 width_95  mg_b10_sub mg_t0_sub width_95 width_95_sub">
            <div class="new_password2 mg_b40 pd_l10 pd_l25_sub mg_b60_sub">
                <table class="table">{% render_field form.new_password2 class="form_new_password line-none width_80 line-none_sub width_80_sub" placeholder="新しいパスワードの再入力" %}</table>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success password_change_form_button mg_b20 mg_b40_sub" >変更</button>
            </div>
        </form>
    </section>
{% endblock body %}