{% extends 'app/base.html' %}
{% load static %}

{% block body %}
   <h4 class="change_text mg_t40 mg_b40 text_C font_border mg_t60_sub mg_b60_sub text_C_sub font_border_sub">パスワードの変更を受付ました</h4>
    <P class="change_text_detail mg_t10 text_C pd_r20_sub mg_b20_sub text_C_sub">パスワードの変更はまだ完了していません。</P>
    <P class="change_text_detail mg_t10 text_C pd_r20_sub mg_b20_sub text_C_sub">メールアドレス宛にメールを送信しました。URLにアクセスし変更をお済ませください。</P>
    <P class="change_text_detail mg_t10 text_C pd_r20_sub mg_b20_sub text_C_sub">※URLの有効期限は24時間以内です。</P>
{% endblock body %}