{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <section class="signup">
        <form class="h-adr signup_form" method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
             <p class="signup_text_detail">電話番号</p>
            <div class="registration">
                <table class="table">{% render_field form.phone class="sign_up_user" value="+81"%}</table>
                <p class="signup_text_detail_small mg_t15">※+81の後に続けて記入してください。</p>
            </div>
             <input type="hidden" class="p-country-name" value="Japan">
             <p class="signup_text_detail">郵便番号</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.zip_code class="p-postal-code sign_up_user"  placeholder="例 5408570"%}</table>
            </div>
            <p class="signup_text_detail">都道府県</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.prefectures class="p-region sign_up_user" placeholder="例 大阪府"%}</table>
            </div>
            <p class="signup_text_detail">市町村</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.city  class="p-locality sign_up_user" placeholder="例 大阪市"%}</table>
            </div>
            <p class="signup_text_detail">住所1</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.address1 class="p-street-address sign_up_user" placeholder="例 中央区大手町 〇〇番地"%}</table>
            </div>
            <p class="signup_text_detail">住所2</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.address2 class="extended-address sign_up_user" placeholder="例 triangleマンション　〇〇号室"%}</table>
            </div>
            <p class="signup_text_detail">店舗名</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.rest_name class="extended-address sign_up_user" placeholder=""%}</table>
            </div>
            <p class="restaurant_create_text">店舗の種類</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.restaurant_type class="sign_up_user" placeholder=""%}</table>
            </div>
            <p class="restaurant_create_text">営業開始時間</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.business_hours_start class="restaurant_time_form" placeholder="" type="time"%}</table>
            </div>
            <p class="restaurant_create_text">営業終了時間</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.business_hours_end class="restaurant_time_form" placeholder="" type="time"%}</table>
            </div>
            <p class="restaurant_create_text">受け取り時間</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.business_hours_option class="sign_up_user" placeholder=""%}</table>
            </div>
            <p class="restaurant_create_text">店舗紹介</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.certification class="restaurant_text_form" placeholder="〇〇料理中心に営業しています"%}</table>
            </div>
            <p class="restaurant_create_text">最寄り駅</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.nearest_station class="sign_up_user" placeholder="JR大阪駅"%}</table>
            </div>
            <div class="text-center  mg_t70 pd_b100">
                <button type="submit" class="btn btn-success signup_btn">登録</button>
            </div>

        </form>
    </section>
{% endblock body %}