{% extends 'account/base.html' %}
{% load static %}

{% block body %}
    <section class="signup_finish mg_t50 body_sub pd_t50_sub pd_b50_sub">
        <h4 class="signup_finish_text mg_t50 mg_t70_sub"><span class="blue">t</span>ri<span class="red">an</span>gl<span class="yellow">e</span>へようこそ</h4>
        <h6 class="signup_finish_text_main mg_t50 mg_t50_sub">ご登録ありがとうございます。</h6>
        <P class="signup_finish_text_sub mg_t30 mg_t30_sub">続けてログインを行いましょう。</P>
        <div class="mg_t30 mg_t30_sub">
            <i class="fas fa-sign-in-alt finish pd_l10 pd_l20_sub"></i>
            <a class="link_black_finish pd_r10 pd_l20_sub"  href="{% url 'restaurant_login' %}">ログイン</a>
        </div>
    </section>
{% endblock body %}