{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <section class="signup">
        <form class="h-adr signup_form" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <p class="signup_text_detail">性</p>
            <div class="registration">
                <table class="table">{% render_field form.first_name class="sign_up_user" placeholder="大阪"%}</table>
            </div>
            <p class="signup_text_detail">名</p>
            <div class="registration">
                <table class="table">{% render_field form.last_name class="sign_up_user"　placeholder="太郎"%}</table>
            </div>
            <p class="signup_text_detail">メールアドレス</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.email class="sign_up_user"　placeholder="triangle@gmail.com"%}</table>
            </div>
            <p class="signup_text_detail">電話番号</p>
            <div class="registration">
                <table class="table">{% render_field form.phone class="sign_up_user" type="number"%}</table>
            </div>
            <p class="signup_text_detail">パスワード</p>
            <div class="registration">
                <table class="table">{% render_field form.password1 class="sign_up_user" placeholder="半角英数字8文字以上" %}</table>
            </div>
            <p class="signup_text_detail">パスワードの再入力</p>
            <div class="registration">
                <table class="table">{% render_field form.password2 class="sign_up_user" placeholder="パスワードの再入力" %}</table>
            </div>
            <div class="text-center  mg_t70 pd_b100">
                <button type="submit" class="btn btn-success signup_btn">登録</button>
            </div>
        </form>
    </section>
{% endblock body %}


