{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <section class="signup mg_t30">
        <form class="h-adr signup_form" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <h5 class="individual_text pd_t50">住所の登録・変更</h5>
            <input type="hidden" class="p-country-name" value="Japan">
             <p class="signup_text_detail">郵便番号</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.zip_code class="p-postal-code registration_main"  placeholder="例 5408570"%}</table>
            </div>
            <p class="signup_text_detail">都道府県</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.prefectures class="p-region registration_main" placeholder="例 大阪府"%}</table>
            </div>
            <p class="signup_text_detail">市町村</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.city  class="p-locality registration_main" placeholder="例 大阪市"%}</table>
            </div>
            <p class="signup_text_detail">住所1</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.address1 class="p-street-address registration_main" placeholder="例 中央区大手町 〇〇番地"%}</table>
            </div>
            <p class="signup_text_detail">住所2</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.address2 class="extended-address registration_main" placeholder="例 triangleマンション　〇〇号室"%}</table>
            </div>
            <div class="text-center mg_t50">
                <button type="submit" class="btn signup_registration_btn">登録</button>
            </div>
        </form>
    </section>
{% endblock body %}

