/*app/base.html*/
/*スマホ用*/
@media screen and (max-width:639px) {
    body {
        width: 100%;
        font-size: 18px;
        font-family: Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
        background: #f8f7f7;
        color: #4d5156;
    }
    header {
        height: 80px;
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }
    a {
        color: #4d5156;
        text-decoration: none;
    }
    a:hover {
        color: #4d5156;
        cursor: pointer;
        text-decoration: none;
    }
    ul {
        list-style: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    .sub_css {
        display: none;
    }
    .app_name {
        font-weight: bold;
        font-size: 30px;
        color: #151414;
        font-family: 'Cabin', sans-serif;
        margin-bottom: 0px;
    }
    .link_white {
        color: #fffff3;
        font-size: 15px;
    }
    .link_white:hover {
        color: #fffff3;
        font-size: 15px;
    }
    .new_user_btn {
        background: #519a76;
        height: 30px;
        line-height: 30px;
        margin-left: auto;
        margin-right: 10px;
    }
    .fa-user-plus {
        color: #fffff3;
    }
    .link_black {
        color: #151414;
        font-size: 15px;
    }
    .link_black:hover {
        color: #151414;
        font-size: 15px;
    }
    .blue {
        color: #3399FF;
    }
    .red {
        color: #CC0033;
    }
    .yellow {
        color: #FFCC00;
    }


/*S index.html&cancel.html*/
    .index_titles{
        text-align: center;
    }
    .index_title{
        font-weight: bolder;
    }
    .index_title_main{
        font-weight: bolder;
        font-size: 45px;
    }
    .index_title_sub{
        font-size: 16px;
        color:#3399FF ;
    }
    .trial_btn{
        font-weight: bolder;
        background: #e7bc15;
    }
    .trial_btn:hover{
        font-weight: bolder;
        background: #e7bc15;
    }
    .examples{
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
       border: 1px solid #32cd32;
    }
    .example_main{
        font-weight: bolder;
    }
    .example_sub{
        margin: 0;
        font-size: 12px;
    }
    .cancel{
        text-align: center;

    }
    .cancel_text_main{
        font-weight: bolder;
        font-size: 26px;
    }

/*E index.html&cancel.html*/


/*S home.html*/
    .search {
        width: 50%;
        border: none;
        outline: none;
        appearance: none;
        background: #f8f7f7;
    }
    .search[type="text"]:focus {
        border: 1px solid #3399FF;
    }
    .search_btn {
        border: none;
        outline: none;
        appearance: none;
        background: #f8f7f7;
    }
    .main_hr {
        margin: 0 auto;
        width: 70%;
    }
    .listing_card {
        height: auto;
        background: #ffffff;
        display: flex;
        border-radius: 4px;
    }
    .listing_img {
        width: 220px;
        height: 180px;
    }
    .listing_text {
        width: 100%;
        position: relative;
    }
    .listing_name {
        font-size: 20px;
        font-weight: bolder;
    }
    .listing_price {
        font-size: 22px;
    }
    .listing_type {
        color: #828181;
        font-size: 14px;
        text-align: right;
    }
    .listing_type_order {
        color: #828181;
        font-size: 12px;
       text-align: right;
        padding-right: 10px;
    }
    .heart_true{
        color: #f50c46;
    }

/*E home.html*/


/*S like_list.html*/
    .like_list_text{
        font-weight: bold;
        text-align: center;
        font-size: 24px;
    }
/*E like_list.html*/


/*S listing_detail.html*/
    .listing_detail {
        height: 100%;
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }
    .listing_name_detail {
        font-size: 24px;
        font-weight: bolder;
    }
    .listing_type_detail {
        font-size: 13px;
    }
    .detail_img {
        text-align: center;
        width: 80%;
        height: 150px;
    }
    .swiper-container {
        text-align: center;
        height: 150px;
    }
    .listing_user_detail {
        color: #828181;
        font-size: 14px;
    }
    .listing_price_detail {
        font-size: 24px;
        color: #b3022e;
    }
    .swiper-button-next,
    .swiper-button-prev{
        width: 24px;
        height: 24px;
    }
    .text_title{
        font-size: 18px;
        font-weight: bolder;
    }
    .listing_text_detail{
        font-size: 16px;
        line-height:2.5;
    }
    .add_heart{
        display:flex;
        flex-flow: column;
    }
    .continue{
        color: #3399FF;
        font-size: 12px;
    }
    .no_cart{
        text-align: center;
    }
    .continue_no_cart{
        text-align: center;
        color: #3399FF;
        font-size: 22px;
    }
    .total_fee{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .total{
        font-size: 22px;
        font-weight: bolder;
    }
    .order_item{
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }
    .name_img_listing{
        display: flex;
    }
    .cart_img{
        width: 100px;
        height: 100px;
    }
    .cart_name{
        font-weight: bolder;
    }
    .quantity_item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quantity{
        margin-bottom: 0;
        font-size: 16px;
    }
    .quantity_main{
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bolder;
    }
    .fa-minus,
    .fa-plus{
        font-size: 10px;
    }
    .delete_item{
        padding:4px 10px;

    }

    .individual_item{
        font-weight: bolder;
    }
/*E listing_detail.html*/


/*S payment.html*/
    .payment{
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }
    .payment_title{
        font-weight: bolder;
        text-align: center;
        font-size: 24px;
    }
    .address_name_pay{
        font-size: 20px;
    }
    .payment_detail_text{
        text-align: center;
        font-weight: bolder;
    }
    .address_detail{
        font-weight: bolder;
        padding-left: 70px;
    }
    .confirm_btn{
        font-weight: bolder;
        background: #e7bc15;
    }
    .confirm_btn:hover{
        font-weight: bolder;
        background: #e7bc15;
    }
    .StripeElement {
      background-color: #f1f1f1;
      height: 40px;
      width: 100%;
      padding: 10px 12px;
      border-radius: 4px;
      border: 1px solid transparent;
      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }
    .StripeElement--focus{
      box-shadow: 0 1px 3px 0 #cfd7df;
    }
    .StripeElement--invalid{
      border-color: #fa755a;
    }
    .StripeElement--webkit-autofill{
      background-color: #fefde5 !important;
    }
/*E payment.html*/


/*S signup.html*/
    .signup_text_detail {
        margin-top: 30px;
        margin-left: 50px;
        margin-bottom: 10px;
        font-weight: bolder;
    }
    .registration {
        text-align: center;
    }
    .registration_main,
    .registration_main_radio {
        width: 70%;
        height: 30px;
        padding: 0;
    }
    .table {
        margin: 0;
    }
    .registration_main[type="text"]:focus {
        background: #e3f1f6;
    }
    .signup_registration_btn {
        font-weight: bolder;
        font-size: 18px;
        color: #fffff3;
        background: #519a76;
        width: 150px;
    }
    .signup_registration_btn:hover {
        font-weight: bolder;
        font-size: 18px;
        color: #fffff3;
        background: #519a76;
        width: 150px;
    }
    .individual_text,
    .Producer_text {
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }
    .signup_text_detail_small {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
        font-weight: 500;
    }
    #previewImage {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .img_preview {
        text-align: center;
    }
    .filelabel {
        display: inline-block;
        position: relative;
        background-color: #3399FF;
        color: #fff;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 8px;
        transition: all 0.5s;
    }
    .filelabel:hover {
        background-color: #3399FF;
    }

    .fileinput {
        display: none;
    }
    label[for=id_producer_type_0] {
        display: none;
    }
    .registration_radio {
        margin-top: 30px;
        margin-left: 50px;
        margin-bottom: 5px;
    }
    label[for=id_producer_type_1],
    label[for=id_producer_type_2],
    label[for=id_producer_type_3],
    label[for=id_producer_type_4],
    label[for=id_producer_type_5],
    label[for=id_producer_type_6],
    label[for=id_producer_type_7],
    label[for=id_producer_type_8],
    label[for=id_producer_type_9],
    label[for=id_producer_type_10],
    label[for=id_producer_type_11] {
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        border: solid 1px #ccc;
        transition: 0.25s;
        padding: 5px;
        cursor: pointer;
        font-size: 17px;
        width: 170px;
        margin: 5px 3px;
    }
    .registration_check {
        display: inline-block;
    }
    .registration_main_big {
        width: 70%;
        height: 150px;
        font-size: 20px;
        resize: none;
        overflow: scroll;
    }
    .registration_main_big[type="textarea"]:focus {
        background: #e3f1f6;
    }
    #previewImage-preview1,
    #previewImage-preview2,
    #previewImage-preview3 {
        width: 270px;
        height: 200px;
    }
    .restaurant_img_name {
        width: 150px;
        outline: none;
        border: none;
        background: #f8f7f7;
        border-bottom: 1px solid #454141;
    }
    .restaurant_img_name[type="text"]:focus {
        background: #ffffff;
    }
    .restaurant_img {
        display: block;
        text-align: center;
    }
/*E signup.html*/


/*S signup_text.html*/
    .signup_text {
        text-align: center;
    }
    .signup_text_main {
        font-size: 22px;
        font-weight: bolder;
    }
    .signup_text_sub {
        font-weight: bolder;
        font-size: 15px;
    }
    .signup_text_btn {
        display: inline-flex;
        flex-direction: column;
        align-items: start;
    }
    .btn_individual {
        width: 300px;
        background: #3399FF;
        font-size: 18px;
        color: #ffffff;
        padding: 12px;
        font-weight: bold;
    }
    .btn_producer {
        width: 300px;
        background: #CC0033;
        font-size: 18px;
        color: #ffffff;
        padding: 12px;
        font-weight: bold;
    }
    .btn_restaurant {
        width: 300px;
        background: #FFCC00;
        font-size: 18px;
        color: #ffffff;
        padding: 12px;
        font-weight: bold;
    }
/*E signup_text.html*/


/*S signup_finish.html*/
    .signup_finish {
        text-align: center;
    }
    .signup_finish_text {
        font-size: 36px;
    }

    .signup_finish_text_main {
        font-size: 20px;
    }
    .signup_finish_text_sub {
        font-weight: bolder;
    }
    .link_black_finish {
        color: #3399FF;
        font-size: 20px;
    }
    .link_black_finish:hover {
        color: #3399FF;
        font-size: 20px;
    }
    .finish {
        color: #3399FF;
        font-size: 20px;
    }
/*E signup_finish.html*/


/*S login.html*/
    .login_link_group {
        display: flex;
        flex-flow: column;
    }
    .login_link {
        margin-left: auto;
        margin-right: 30px;
        color: #151414;
        font-size: 14px;
    }
    .login_link:hover {
        margin-left: auto;
        margin-right: 30px;
        color: #151414;
        font-size: 14px;
    }
    .login_btn {
        color: #fffff3;
        width: 150px;
        background: #454141;
    }
    .login_btn:hover {
        color: #fffff3;
        width: 150px;
        background: #454141;
    }
/*E login.html*/


/*S change.html*/
    .change_text {
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }
    .change_text_small {
        font-size: 19px;
        text-align: center;
        font-weight: bold;
    }
    .email_now {
        text-align: center;
    }
    .change_text_detail {
        padding-left: 20px;
        padding-right: 20px;
    }
    .change_btn {
        width: 150px;
        background: #3399FF;
        font-size: 18px;
        color: #ffffff;
        padding: 12px;
        font-weight: bold;
    }
/*E change.html*/


/*S my_page*/
    .my_page_link {
        color: #151414;
        font-weight: bolder;
        font-size: 20px;
    }
    .my_page_link:hover {
        color: #151414;
        font-weight: bolder;
        font-size: 20px;
    }
    .fa-envelope,
    .fa-map-marker-alt,
    .fa-lock,
    .fa-file-contract,
    .fa-book-open,
    .fa-user-edit,
    .fa-history
    .fa-heart,
    .fa-list-alt{
        font-size: 20px;
    }
    .edit_btn{
        padding:4px 10px;
    }


/*E my_page*/


/*S listing*/
    .div_listing {
        display: flex;
    }
    .registration_listing {
        margin-right: auto;
        margin-left: auto;
    }
    .filelabel_listing {
        display: inline-block;
        position: relative;
        background-color: #3399FF;
        color: #fff;
        font-size: 15px;
        padding: 10px 15px;
        margin: 0px 5px;
        border-radius: 8px;
        transition: all 0.5s;
    }
    .filelabel_listing:hover {
        background-color: #3399FF;
    }
/*E listing*/


/*S その他*/
    .dp_flex {
        display: flex;
    }
    .tab-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    /*タブメニュー*/
    .tab-label {
        font-size: 15px;
        color: #151414;
        font-weight: bolder;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
        white-space: nowrap;
        text-align: center;
        order: -1;
        position: relative;
        z-index: 1;
        cursor: pointer;
        flex: 1;
    }
    .tab-label:not(:last-of-type) {
        margin-right: 5px;
    }
    .tab-content {
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
/* アクティブなタブ */
    .tab-switch:checked + .switch_black {
        border-bottom: 2px solid #454141;
    }

    .tab-switch:checked + .switch_blue {
        border-bottom: 2px solid #3399FF;
    }

    .tab-switch:checked + .switch_red {
        border-bottom: 2px solid #CC0033;
    }

    .tab-switch:checked + .switch_yellow {
        border-bottom: 2px solid #FFCC00;
    }
/* ラジオボタン非表示 */
    .tab-switch {
        display: none;
    }
    .tab-switch:checked + .tab-label + .tab-content {
        height: auto;
        overflow: auto;
        opacity: 1;
        transition: .5s opacity;
    }
/*ナビメニュー*/
    .nav {
        background: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
        justify-content: space-evenly;
    }
    .fa-search-plus,
    .fa-user,
    .fa-home {
        font-size: 22px;
        color: #666565;
    }
    .footer_nav_base {
        margin: 0;
        font-size: 14px;
    }
    .nav-link {
        text-align: center;
        border-style: none;
        color: #151414;
    }
    .nav-link:hover {
        cursor: pointer;
        border-style: none;
        color: #151414;
    }
    .footer_nav_base {
        padding-top: 5px;
        font-size: 17px;
    }
    .wrap {
        width: 100%;
        display:flex;
        flex-flow: column;
        align-items: flex-end;
        padding-right: 10px;

    }
    .main_user_btn {
        background: #519a76;
        height: 30px;
        line-height: 30px;

    }
    .carts{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heading_text{
        font-weight: bolder;
    }



/*E その他*/


/*S margin/padding*/
    .mg_t10 {
        margin-top: 10px;
    }

    .mg_t15 {
        margin-top: 15px;
    }

    .mg_t20 {
        margin-top: 20px;
    }

    .mg_t30 {
        margin-top: 30px;
    }

    .mg_t50 {
        margin-top: 50px;
    }
    .mg_b20 {
        margin-bottom: 20px;
    }

    .mg_b30 {
        margin-bottom: 30px;
    }

    .mg_l5 {
        margin-left: 5px;
    }
    .mg_l10 {
        margin-left: 10px;
    }
    .mg_l30 {
        margin-left: 30px;
    }

    .mg_r10 {
        margin-right: 10px;
    }

    .pd_t10 {
        padding-top: 10px;
    }

    .pd_t30 {
        padding-top: 30px;
    }
    .pd_t50 {
        padding-top: 50px;
    }

    .pd_b10 {
        padding-bottom: 10px;
    }

    .pd_b30 {
        padding-bottom: 30px;
    }
    .pd_b50 {
        padding-bottom: 50px;
    }

    .pd_l10 {
        padding-left: 10px;
    }

    .pd_l20 {
        padding-left: 20px;
    }

    .pd_l30 {
        padding-left: 30px;
    }

    .pd_r10 {
        padding-right: 10px;
    }

    .pd_r20 {
        padding-right: 20px;
    }

/*E margin/padding*/
}



