/*app/base.html*/
/*スマホ用*/
@media screen and (max-width:639px) {
    .sub_css {
        display: none;
    }
    body {
        width: 100%;
        font-size: 18px;
        font-family: Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
        background: #f8f7f7;
        color: #4d5156;
        flex-direction: column;
        display:flex;
    }
    header {
        height: 80px;
        background: #ffffff;
        border-bottom: 3px solid #e5e7e8;
    }
    footer{
        position:fixed;
        bottom:0;
        width:100%;
    }
    a {
        color: #4d5156;
        text-decoration: none;
    }
    a:hover {
        color: #4d5156;
        cursor: pointer;
        text-decoration: none;
    }
    ul {
        list-style: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    input::placeholder {
        color: #b7b9bb;
        font-size: 15px;
    }
    li {
        display: inline-block;
    }
    .table {
        margin: 0;
    }
    .registration_main[type="text"]:focus,
    .registration_main[type="password"]:focus,
    .registration_main[type="email"]:focus,
    .registration_main[type="tel"]:focus{
        background: #e3f1f6;
    }
    .sign_up_user{
        background: #ffffff;
    }
    #previewImage-preview1,
    #previewImage-preview2,
    #previewImage-preview3 {
        width: 150px;
        height: 150px;
    }
    .img_preview {
        text-align: center;
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .filelabel {
        display: inline-block;
        position: relative;
        background-color: #3399FF;
        color: #fff;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 8px;
        transition: all 0.5s;
    }
    .filelabel:hover {
        background-color: #3399FF;
    }

    .fileinput {
        display: none;
    }
    .app_name {
        font-weight: bold;
        font-size: 30px;
        color: #151414;
        font-family: 'Cabin', sans-serif;
        margin-bottom: 0px;
    }
    .link_white {
        color: #fffff3;
        font-size: 15px;
    }
    .link_white:hover {
        color: #fffff3;
        font-size: 15px;
    }
    .new_user_btn {
        height: 30px;
        line-height: 30px;
        margin-left: auto;
        margin-right: 10px;
    }
    .fa-user-plus {
        color: #fffff3;
    }
    .link_black {
        color: #151414;
        font-size: 15px;
    }
    .link_black:hover {
        color: #151414;
        font-size: 15px;
    }
    .blue {
        color: #3399FF;
    }
    .red {
        color: #CC0033;
    }
    .yellow {
        color: #FFCC00;
    }
    /*S その他*/
    .dp_flex {
        display: flex;
    }
    .tab-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    /*タブメニュー*/
.home_header{
    width:100% ;
    height: auto;
    background: #32CD32;
}
.fa-pinterest-square{
    color: #32CD32;
    background: #f8f7f7;
}
#home_nav{
    width: 100%;
    padding: 0;
}
.home_title{
    margin-right: auto;
   margin-left: auto;
}
.navbar-toggler{
    padding: 0;
    margin-left: 5px;
}

.navbar-collapse{
    width: 100%;
    background: #f8f7f7;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.nav-link{
    padding:10px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
}
.dropdown-menu{
    background: #f8f7f7;
    border: none;
    font-size: 12px;
    font-weight: 400;
}
.dropdown-item{
    padding: 5px;
}
.fa-plus-circle{
    font-size:30px;
    color: #72d972;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
}

/* アクティブなタブ */
    .tab-switch:checked + .switch_black {
        border-bottom: 2px solid #454141;
    }

    .tab-switch:checked + .switch_blue {
        border-bottom: 2px solid #3399FF;
    }

    .tab-switch:checked + .switch_red {
        border-bottom: 2px solid #CC0033;
    }

    .tab-switch:checked + .switch_yellow {
        border-bottom: 2px solid #FFCC00;
    }
/* ラジオボタン非表示 */
    .tab-switch {
        display: none;
    }
    .tab-switch:checked + .tab-label + .tab-content {
        height: auto;
        overflow: auto;
        opacity: 1;
        transition: .5s opacity;
    }
/*ナビメニュー*/
    .nav {
        background: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
        justify-content: space-evenly;
    }
    .fa-search-plus,
    .fa-user,
    .fa-home {
        font-size: 22px;
        color: #666565;
    }
    .footer_nav_base {
        margin: 0;
        font-size: 14px;
    }
    .nav-link {
        text-align: center;
        border-style: none;
        color: #151414;
    }
    .nav-link:hover {
        cursor: pointer;
        border-style: none;
        color: #151414;
    }
    .footer_nav_base {
        padding-top: 5px;
        font-size: 17px;
    }
    .wrap {
        width: 100%;
        display:flex;
        flex-flow: column;
        align-items: flex-end;
        padding: 0;

    }
    .carts{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }
    .item_count{
        padding-left: 5px;
    }
    .heading_text{
        font-weight: bolder;
    }

/* ログイン画像*/
    .log_img{
        width:40px;
        height:auto;
        /*-ms-filter: blur(2px);
        filter: blur(2px);*/
    }

/*E その他*/
    .mg-t100{
        margin-top:100px;
    }

/*マイページ*/
.mypage_title{
    font-size:20px;
}
.mypage_img{
    width:80px;
    height:80px;
}
.mypage_icon{
    display: block;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  80px;       /* ※縦横を同値に */
    height: 80px;       /* ※縦横を同値に */
    background:grey;   /*後で外す*/
}
/*アカウント名*/
.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #da3c41;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #da3c41;
}
/*セレクトボックス*/
.cp_ipselect {
	position: relative;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_sl06 {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.cp_sl06:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect .cp_sl06 {
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.3);
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: rgba(0,0,0, 0.5);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}
.cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
	color: #da3c41;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #da3c41;
	transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/*画像ボタン*/
.filebody{
  text-align: center;
  font-size: 1.5rem;
  width: 75%;
  margin: 0 auto;
}
.filelabel{
  display: inline-block;
  position: relative;
  background-color: #1877F2;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.5s;
}
.filelabel:hover{
  background-color: #004db1;
}

.fileinput{
  display: none;
}
/*紹介文*/
.m-form-item-textarea textarea {
    height: 300px;
}

.m-form-textarea {
    display: block;
    width: 100%;
    padding: 4px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: vertical;
}

.m-form-textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}