/*app/base.html*/
/*スマホ用*/
@media screen and (max-width:639px) {
    .sub_css {
        display: none;
    }
    body {
        width: 100%;
        font-size: 18px;
        font-family: Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
        background: #f8f7f7;
        color: #4d5156;
    }
    header {
        height: 80px;
        background: #ffffff;
        border-bottom: 3px solid #e5e7e8;
    }
    a {
        color: #4d5156;
        text-decoration: none;
    }
    a:hover {
        color: #4d5156;
        cursor: pointer;
        text-decoration: none;
    }
    ul {
        list-style: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    input::placeholder {
        color: #b7b9bb;
        font-size: 15px;
    }
    li {
        display: inline-block;
    }
    .table {
        margin: 0;
    }
    .registration_main[type="text"]:focus,
    .registration_main[type="password"]:focus,
    .registration_main[type="email"]:focus,
    .registration_main[type="tel"]:focus{
        background: #e3f1f6;
    }
    .sign_up_user{
        background: #ffffff;
    }
    #previewImage-preview1,
    #previewImage-preview2,
    #previewImage-preview3 {
        width: 150px;
        height: 150px;
    }
    .img_preview {
        text-align: center;
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .filelabel {
        display: inline-block;
        position: relative;
        background-color: #3399FF;
        color: #fff;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 8px;
        transition: all 0.5s;
    }
    .filelabel:hover {
        background-color: #3399FF;
    }

    .fileinput {
        display: none;
    }
    .app_name {
        font-weight: bold;
        font-size: 30px;
        color: #151414;
        font-family: 'Cabin', sans-serif;
        margin-bottom: 0px;
    }
    .link_white {
        color: #fffff3;
        font-size: 15px;
    }
    .link_white:hover {
        color: #fffff3;
        font-size: 15px;
    }
    .new_user_btn {
        height: 30px;
        line-height: 30px;
        margin-left: auto;
        margin-right: 10px;
    }
    .fa-user-plus {
        color: #fffff3;
    }
    .link_black {
        color: #151414;
        font-size: 15px;
    }
    .link_black:hover {
        color: #151414;
        font-size: 15px;
    }
    .blue {
        color: #3399FF;
    }
    .red {
        color: #CC0033;
    }
    .yellow {
        color: #FFCC00;
    }
    /*S その他*/
    .dp_flex {
        display: flex;
    }
    .tab-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    /*タブメニュー*/
    .tab-label {
        font-size: 15px;
        color: #151414;
        font-weight: bolder;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
        white-space: nowrap;
        text-align: center;
        order: -1;
        position: relative;
        z-index: 1;
        cursor: pointer;
        flex: 1;
    }
    .tab-label:not(:last-of-type) {
        margin-right: 5px;
    }
    .tab-content {
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
/* アクティブなタブ */
    .tab-switch:checked + .switch_black {
        border-bottom: 2px solid #454141;
    }

    .tab-switch:checked + .switch_blue {
        border-bottom: 2px solid #3399FF;
    }

    .tab-switch:checked + .switch_red {
        border-bottom: 2px solid #CC0033;
    }

    .tab-switch:checked + .switch_yellow {
        border-bottom: 2px solid #FFCC00;
    }
/* ラジオボタン非表示 */
    .tab-switch {
        display: none;
    }
    .tab-switch:checked + .tab-label + .tab-content {
        height: auto;
        overflow: auto;
        opacity: 1;
        transition: .5s opacity;
    }
/*ナビメニュー*/
    .nav {
        background: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
        justify-content: space-evenly;
    }
    .fa-search-plus,
    .fa-user,
    .fa-home {
        font-size: 22px;
        color: #666565;
    }
    .footer_nav_base {
        margin: 0;
        font-size: 14px;
    }
    .nav-link {
        text-align: center;
        border-style: none;
        color: #151414;
    }
    .nav-link:hover {
        cursor: pointer;
        border-style: none;
        color: #151414;
    }
    .footer_nav_base {
        padding-top: 5px;
        font-size: 17px;
    }
    .wrap {
        width: 100%;
        display:flex;
        flex-flow: column;
        align-items: flex-end;
        padding: 0;

    }
    .carts{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }
    .item_count{
        padding-left: 5px;
    }
    .heading_text{
        font-weight: bolder;
    }


/*E その他*/





/*S index.html&cancel.html*/
    .index_titles{
        text-align: center;
    }
    .index_title{
        font-weight: bolder;
    }
    .index_title_main{
        font-weight: bolder;
        font-size: 45px;
    }
    .index_title_sub{
        font-size: 15px;
    }

    .examples{
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
       border: 1px solid #32cd32;
    }
    .example_main{
        font-weight: bolder;
    }
    .example_sub{
        margin: 0;
        font-size: 12px;
    }
    .cancel{
        text-align: center;

    }
    .cancel_text_main{
        font-weight: bolder;
        font-size: 26px;
    }

/*E index.html&cancel.html*/


/*S home.html*/
    .dropdown-toggle{
        padding: 3px 6px;
        border-color:#151414 ;
        margin-right: 10px;
    }
    .searches{
        display: flex;
        justify-content: center;
    }
    .search,
    .search_listing,
    .search_home{
        width: 85%;
        outline: none;
        height: 30px;
        font-size: 18px;
        background: #f8f7f7;
        padding: 0 5px;
        border-radius: 4px;
    }
    .search[type="text"]:focus,
    .search_free[type="text"]:focus{
        border: 1px solid #3399FF;
    }
    .search_btn ,
    .search_btn:hover{
        border: none;
        outline: none;
        appearance: none;
        padding: 5px 2px;
        font-size: 20px;
        color: #3399FF;
        background: #f8f7f7;
    }

    .listing_card {
        height: auto;
        background: #ffffff;
        display: flex;
        border-radius: 4px;
    }
    .listing_img,
    .restaurant_listing_img{
        width: 220px;
        height:200px;
    }
    .listing_text {
        width: 100%;
        position: relative;
    }
    .listing_name ,
    .restaurant_detail_listing_name {
        font-size: 20px;
        font-weight: bolder;
    }
    .listing_price ,
    .restaurant_listing_price{
        padding-left: 20px;
        font-weight: bolder;
        font-size: 28px;
        margin: 0;
    }
    .down{
       text-align: center;
        font-size: 22px;
        margin: 0;
    }
    .listing_originally_price{
         text-align: center;
        font-size: 22px;
        margin: 0;
    }
    .price_text,
    .restaurant_price_text{
        padding-left: 10px;
        margin: 0;
        font-size: 15px;
        font-weight: bolder;
    }
    .listing_type {
        color: #828181;
        font-size: 14px;
        text-align: right;
        padding-right: 5px;
        letter-spacing:1px ;
    }
    .listing_type_order {
        color: #828181;
        font-size: 12px;
       text-align: right;
        padding-right: 10px;
    }
    .restaurant_listing_name,
    .restaurant_detail_listing_name{
        text-align: right;
        padding-right: 10px;
        font-size: 14px;
        color: #828181;
    }
    .restaurant_listing_home{
        border-bottom:1px solid #d5d3d3;
        border-top:1px solid #d5d3d3;
    }
    .listing_consumption_time{
        padding-left: 10px;
        padding-top: 10px;
        font-size: 18px;
        color: #379ae7;
    }
    .heart_true{
        color: #f50c46;
    }
    .searches_recipe{
        text-align: center;
    }
    .recipe_free{
        color: #3399FF;
    }
    .fa-comment-alt,
    .fa-clock{
        padding-right: 3px;
    }
    .recipe_cook_time{
        padding-left: 10px;
        color: #3399FF;
    }
    .recipe_text{
        font-weight: bolder;
        font-size: 18px;
        padding-left: 10px;
    }
    .select_search{
        color: #151414;
        border-color:#151414 ;
        width: 170px;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: bolder;
        padding: 4px 8px;
        margin-right: 5px;
    }
    .search_free{
        width: 80%;
        outline: none;
        height: 30px;
        background: #f8f7f7;
        padding: 0 5px;
        border-radius: 4px;
        font-size: 18px;
    }
    .restaurant_body{
        padding: 20px 0 0;
    }
    .restaurant_name{
        text-align: center;
        font-weight: bolder;
        font-size: 26px;
    }
    .restaurant_type{
        text-align: center;
        padding-top: 5px;
        font-size: 14px;
        color: #38a76f;
    }
    .restaurant_business_hours{
        margin: 0;
        padding-top:15px ;
        text-align: center;
        font-size: 22px;
    }
    .restaurant_business_hours_option{
        text-align: center;
        font-size: 14px;
        color: #3399FF;
    }
    .restaurant_nearest_station{
        padding-top: 20px;
        text-align: right;
        padding-right: 10px;
        color: #999898;
    }
    .listing_sale,
    .restaurant_listing_sale{
        background: #38a76f;
        color: #ffffff;
        font-size: 14px;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        border-radius: 4px;
        letter-spacing:1px ;
    }
    .help_link,
    .fa-question-circle{
        font-size: 15px;
    }

/*E home.html*/


/*S like_list.html*/
    .like_list_text{
        font-weight: bold;
        text-align: center;
        font-size: 24px;
    }
/*E like_list.html*/


/*S listing_detail.html*/
    .listing_detail {
        height: auto;
        background: #ffffff;
    }
    .listing_name_detail {
        font-size: 30px;
        font-weight: bolder;
    }
    .listing_type_detail {
        font-size: 15px;
    }
    .detail_img {
        text-align: center;
        width: 80%;
        height: 200px;
    }
    .swiper-container {
        text-align: center;
        height: 230px;
    }
    .listing_user_detail {
        color: #828181;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .listing_price_detail {
        font-size: 32px;
       font-weight: bolder;
    }
    .swiper-button-next,
    .swiper-button-prev{
        width: 24px;
        height: 24px;
    }
    .text_title{
        font-size: 18px;
        font-weight: bolder;
    }
    .listing_text_detail{
        font-size: 20px;
        letter-spacing: 1px;
        line-height:2.5;
    }
    .add_heart{
        display:flex;
        flex-flow: column;
    }
    .continue{
        color: #3399FF;
        font-size: 12px;
    }
    .no_cart{
        text-align: center;
    }
    .continue_no_cart{
        text-align: center;
        color: #3399FF;
        font-size: 22px;
    }
    .total_fee{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .total{
        font-size: 22px;
        font-weight: bolder;
    }
    .order_item{
        background: #ffffff;
    }
    .name_img_listing{
        display: flex;
    }
    .cart_img{
        width: 150px;
        height: 150px;
    }
    .cart_name{
        font-weight: bolder;
    }
    .quantity_item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quantity{
        margin-bottom: 0;
        font-size: 16px;
    }
    .quantity_main{
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bolder;
    }
    .fa-minus,
    .fa-plus{
        font-size: 10px;
    }
    .delete_item{
        color: #CC0033;
        font-size: 16px;
        padding: 4px 6px;
    }
    .listing_hr{
        margin: 0;
        border-width: 1px 0 0 0;
        border-color:#262628 ;
    }

    .individual_item{
        font-weight: bolder;
    }
    .listing_detail_rest_text{
        font-weight: bolder;
        padding-left: 15px;
    }
    .restaurant_listing_detail{
        padding-left: 50px;
        font-size: 22px;
    }
    .listing_text_detail {
        font-size: 22px;
    }
    .listing_cart_detail_like{
        width: 200px;
    }
/*E listing_detail.html*/


/*S listing_create.html*/
    .listing_create{
        background: #ffffff;
        height: auto;
    }
    .listing_name_form{
        padding: 0;
        border: none;
        border-bottom: 1px solid #262628;
        outline: none;
        appearance: none;
        width: 80%;
        height: 60px;
        font-size: 24px;
    }
    .listing_text_form{
        border: none;
        border-top: 1px solid #262628;
        border-bottom: 1px solid #262628;
        outline: none;
        appearance: none;
        resize: none;
        width: 100%;
        height: 300px;
        font-size: 24px;
        padding: 0 10px;
    }
    .listing_price_form{
        padding: 0;
        border: none;
        border-bottom: 1px solid #262628;
        outline: none;
        appearance: none;
        width: 80%;
        height: 60px;
        font-size: 20px;
    }
    .listing_create_text{
        padding-top: 70px;
        padding-left: 20px;
        font-weight: bolder;
    }
    .listing_btn{
        width: 40%;
        font-size: 20px;
        letter-spacing: 5px;
        border-radius: 4px;
    }
    .div_listing {
        display: flex;
    }
    .registration_listing {
        margin-right: auto;
        margin-left: auto;
    }
    .filelabel_listing {
        display: inline-block;
        position: relative;
        background-color: #3399FF;
        color: #fff;
        font-size: 15px;
        padding: 10px 15px;
        margin: 0px 5px;
        border-radius: 8px;
        transition: all 0.5s;
    }
    .filelabel_listing:hover {
        background-color: #3399FF;
    }
    .listing_update_img{
        padding-top:20px ;
    }

    label[for=id_sale_0],
    label[for=id_privacy_user_0],
    label[for=id_terms_user_0]{
        display: none;
    }
    .listing_type_time{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .registration_time{
        padding-left: 20px;
    }

/*E listing_create.html*/



/*S payment.html*/
    .payment{
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }
    .payment_title{
        text-align: center;
        font-size: 20px;
    }
    .address_name_pay{
        font-size: 20px;
    }
    .payment_detail_text{
        font-weight: bolder;
        font-size: 24px;
    }
    .address_detail{
        font-weight: bolder;
        padding-left: 70px;
    }
    .confirm_btn{
        font-weight: bolder;
        background: #e7bc15;
    }
    .confirm_btn:hover{
        font-weight: bolder;
        background: #e7bc15;
    }
    .StripeElement {
      background-color: #f1f1f1;
      height: 40px;
      width: 100%;
      padding: 10px 12px;
      border-radius: 4px;
      border: 1px solid transparent;
      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }
    .StripeElement--focus{
      box-shadow: 0 1px 3px 0 #cfd7df;
    }
    .StripeElement--invalid{
      border-color: #fa755a;
    }
    .StripeElement--webkit-autofill{
      background-color: #fefde5 !important;
    }
/*E payment.html*/


/*S signup.html*/
    .signup_text_detail{
        padding-top: 70px;
        padding-left: 20px;
        font-weight: bolder;
        margin: 0;
    }
    .stripe_text{
        padding-top: 50px;
        padding-left: 15px;
        font-weight: bolder;
        font-size: 27px;
        margin: 0;
    }
    .gender_type{
        font-size: 16px;
        padding: 5px 20px 0;
    }
    .signup{
        background: #ffffff;
        height: auto;
    }
    .sign_up_user{
        padding: 0;
        border: none;
        border-bottom: 1px solid #262628;
        outline: none;
        appearance: none;
        width: 80%;
        height: 60px;
        font-size: 24px;
    }
    .registration{
        text-align: center;
    }
    .signup_btn{
        width: 40%;
        font-size: 20px;
        letter-spacing: 5px;
        border-radius: 4px;
    }
    .sale_form{
        font-size: 22px;
    }
    .registration_privacy_terms{
        display: flex;
        align-items: center;
    }
    .privacy_terms_form{
        width: 15px;
        height: 15px;
    }
    .privacy_terms{
        font-size: 16px;
        margin: 0;
    }
    .link_privacy_terms,
    .link_privacy_terms:hover{
        font-size: 18px;
        color: #3399FF;
    }



/*E signup.html*/


/*S signup_text.html*/
    .signup_text {
        text-align: center;
    }
    .signup_text_main {
        font-size: 22px;
        font-weight: bolder;
    }
    .signup_text_sub {
        font-weight: bolder;
        font-size: 15px;
    }
    .signup_text_btn {
        display: inline-flex;
        flex-direction: column;
        align-items: start;
    }
    .btn_individual {
        width: 300px;
        background: #3399FF;
        font-size: 18px;
        color: #ffffff;
        padding: 12px;
        font-weight: bold;
    }
    .btn_producer {
        width: 300px;
        background: #CC0033;
        font-size: 18px;
        color: #ffffff;
        padding: 12px;
        font-weight: bold;
    }
    .btn_restaurant {
        width: 300px;
        background: #FFCC00;
        font-size: 18px;
        color: #ffffff;
        padding: 12px;
        font-weight: bold;
    }
/*E signup_text.html*/


/*S signup_finish.html*/
    .signup_finish {
        text-align: center;
    }
    .signup_finish_text {
        font-size: 36px;
    }

    .signup_finish_text_main {
        font-size: 20px;
         font-weight: bolder;
    }
    .signup_finish_text_sub {
        font-weight: bolder;
    }
    .link_black_finish {
        color: #3399FF;
        font-size: 20px;
    }
    .link_black_finish:hover {
        color: #3399FF;
        font-size: 20px;
    }
    .finish {
        color: #3399FF;
        font-size: 20px;
    }
/*E signup_finish.html*/


/*S login.html*/
    .login_link_group {
        display: flex;
        flex-flow: column;
    }
    .login_link {
        margin-left: auto;
        margin-right: 30px;
        color: #3399FF;
        font-size: 14px;
    }
    .login_link:hover {
        margin-left: auto;
        margin-right: 30px;
        color: #151414;
        font-size: 14px;
    }
    .login_btn,
    .login_btn:hover {
        width: 150px;
    }


/*E login.html*/


/*S change.html*/
    .change_text {
        font-size: 24px;
        text-align: center;
        font-weight: bolder;
    }
    .change_text_small {
        font-size: 22px;
        text-align: center;
        font-weight: bolder;
    }
    .email_now {
        text-align: center;
    }
    .change_text_detail {
        font-size: 19px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .password_reset{
        background: #ffffff;
        height: 100%;
    }
    .password_change_text{
        padding-left: 20px;
        padding-top:70px;
        font-weight: bolder;
    }
    .password_change_text_detail{
        padding: 30px 25px;
        font-size: 15px;
    }
    .password_change{
        padding: 0;
        border: none;
        border-bottom: 1px solid #262628;
        outline: none;
        appearance: none;
        width: 80%;
        height: 60px;
        font-size: 24px;
    }
    .registration{
        text-align: center;
    }
    .app_btn,
    .change_btn{
        font-size: 18px;
        letter-spacing: 2px;
        border-radius: 4px;
    }

    .individual_text{
        padding-left: 20px;
        padding-top: 70px;
        font-weight: bold;
        font-size: 22px;
    }
    .email_change{
        background: #ffffff;
        height: 100%;

    }


/*E change.html*/


/*S restaurant.html*/
    .restaurant{
        background: #ffffff;
        height: auto;
    }
    .restaurant_create_text{
        padding-top: 70px;
        padding-left: 20px;
        font-weight: bolder;
    }
    .restaurant_name_form,
    .restaurant_address_form{
        padding: 0;
        border: none;
        border-bottom: 1px solid #262628;
        outline: none;
        appearance: none;
        width: 80%;
        height: 60px;
        font-size: 24px;
        background: #ffffff;
    }
    .restaurant_time_form{
        padding: 0;
        border: none;
        border-bottom: 1px solid #262628;
        outline: none;
        appearance: none;
        width: 80%;
        height: 60px;
        font-size: 20px;
        text-align: center;
        background: #ffffff;
    }
    .restaurant_text_form{
        border: none;
        border-top: 1px solid #262628;
        border-bottom: 1px solid #262628;
        outline: none;
        appearance: none;
        resize: none;
        width: 100%;
        height: 300px;
        font-size: 24px;
        padding: 0 10px;

    }
     label[for=id_restaurant_type_0],
     label[for=id_business_hours_option_0]{
        display: none;
    }
    label[for=id_restaurant_type_1],
    label[for=id_restaurant_type_2],
    label[for=id_restaurant_type_3],
    label[for=id_restaurant_type_4],
    label[for=id_restaurant_type_5],
    label[for=id_restaurant_type_6],
    label[for=id_restaurant_type_7],
    label[for=id_restaurant_type_8],
    label[for=id_restaurant_type_9],
    label[for=id_restaurant_type_10],
    label[for=id_restaurant_type_11],
    label[for=id_restaurant_type_12],
    label[for=id_restaurant_type_13],
    label[for=id_restaurant_type_14] {
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        border: solid 1px #ccc;
        transition: 0.25s;
        padding: 5px;
        cursor: pointer;
        font-size: 17px;
        width: 170px;
        margin: 5px 3px;
    }
    label[for=id_business_hours_option_1],
    label[for=id_business_hours_option_2],
    label[for=id_business_hours_option_3],
    label[for=id_business_hours_option_4]{
        border-radius: 20px;
        text-decoration: none;
        border: solid 1px #ccc;
        transition: 0.25s;
        padding: 5px;
        cursor: pointer;
        font-size: 17px;
        width: 300px;
        margin: 5px 3px;
    }
    .restaurant_btn{
        width: 40%;
        font-size: 20px;
        letter-spacing: 5px;
        border-radius: 4px;
    }
/*E restaurant.html*/


/*S restaurant_detail.html*/
    .restaurant_detail{
        background: #ffffff;
        height: auto;
    }
    .restaurant_hr{
        margin: 0;
        border-width: 1px 0 0 0;
        border-color: #5c5c5f;
    }

    .restaurant_zip_code,
    .restaurant_address,
    .restaurant_nearest_detail{
        font-size: 18px;
       	text-align: center;
        letter-spacing: 2px;

    }
    .restaurant_detail_name_text{
       text-align: center;
        padding-right: 200px;
        font-weight: bolder;
    }
    .restaurant_tel{
        font-size: 18px;
        letter-spacing: 1px;
        text-align: center;
    }
    .form-check-label{
        font-weight: bolder;
    }
/*E restaurant_detail.html*/


/*S restaurant_search.html*/
    .search_rest{
        padding-left: 30px;
    }
    .search_rests{
        margin-top: 5px;
    }
/*E restaurant_search.html*/


/*S my_restaurant_detail.html*/
    .tab-rest:checked + .switch_black {
        border-bottom: 2px solid #454141;
    }

    .tab-rest:checked + .switch_blue {
        border-bottom: 2px solid #454141;
    }

    .tab-rest:checked + .switch_red {
        border-bottom: 2px solid #454141;
    }

    .tab-rest:checked + .switch_yellow {
       border-bottom: 2px solid #454141;
    }
/* ラジオボタン非表示 */
    .tab-rest {
        display: none;
    }
    .tab-rest:checked + .tab-label + .tab-content {
        height: auto;
        overflow: auto;
        opacity: 1;
        transition: .5s opacity;
    }
    .my_rest_user{
        padding-left: 20px;
        font-weight: bolder;
    }
    .update_link{
        color: #3399FF;
        font-size: 15px;
    }
    .delete_text{
        text-align: center;
        font-weight: bolder;
    }
    .delete_link{
        text-align: center;
        font-size: 17px;
        color: #CC0033;
    }
/*E my_restaurant_detail.html*/

/*S my_page*/
    .my_page_link {
        color: #151414;
        font-weight: bolder;
        font-size: 20px;
    }
    .my_page_link:hover {
        color: #151414;
        font-weight: bolder;
        font-size: 20px;
    }
    .fa-reply-all,
    .fa-map-marker-alt,
    .fa-lock,
    .fa-file-contract,
    .fa-book-open,
    .fa-user-edit,
    .fa-history
    .fa-heart,
    .fa-list-alt,
    .fa-folder-plus,
    .fa-user-friends,
    .fa-cubes,
    .fa-user-alt{
        font-size: 20px;
    }
    .edit_btn{
        padding:4px 10px;
    }


/*E my_page*/


/*S my_page_detail*/
    .my_users{
        display:flex;
        margin-top:30px ;
        padding-left: 10px;
    }
    .my_user_text{
        padding-left: 5px;
        font-weight: bolder;
        font-size: 18px;
    }
    .fa-signature,
    .fa-envelope,
    .fa-phone,
    .fa-map-marker-alt{
        font-size: 20px;
    }

/*E my_page_detail*/


/*S product.html*/
    .search_price{
        width: 60%;
        display: flex;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
/*E product.html*/


/*S buyer_list.html*/
    .buyer_detail_text{
        text-align: center;
        font-size: 22px;
        margin: 0;
    }
    .buyer_detail_time{
        text-align: center;
        font-size: 18px;
        margin: 0;
    }
    .confirmed_btn{
        letter-spacing: 1px;
        border-radius: 4px;
    }
    .confirmed_btn_true{
        letter-spacing: 1px;
        border-radius: 4px;
    }
    .refund_link{
        color: #3399FF;
        font-size: 15px;
    }
/*E buyer_list.html*/

/*S margin/padding*/
    .mg_t10 {
        margin-top: 10px;
    }

    .mg_t15 {
        margin-top: 15px;
    }

    .mg_t20 {
        margin-top: 20px;
    }

    .mg_t30 {
        margin-top: 30px;
    }

    .mg_t50 {
        margin-top: 50px;
    }
    .mg_t70 {
        margin-top: 70px;
    }
    .mg_b20 {
        margin-bottom: 20px;
    }

    .mg_b30 {
        margin-bottom: 30px;
    }
    .mg_b100 {
        margin-bottom: 100px;
    }

    .mg_l5 {
        margin-left: 5px;
    }
    .mg_l10 {
        margin-left: 10px;
    }
    .mg_l20 {
        margin-left: 20px;
    }
    .mg_l30 {
        margin-left: 30px;
    }

    .mg_r10 {
        margin-right: 10px;
    }

    .pd_t10 {
        padding-top: 10px;
    }

    .pd_t30 {
        padding-top: 30px;
    }
    .pd_t50 {
        padding-top: 50px;
    }

    .pd_b10 {
        padding-bottom: 10px;
    }

    .pd_b30 {
        padding-bottom: 30px;
    }
    .pd_b50 {
        padding-bottom: 50px;
    }
    .pd_b100 {
        padding-bottom: 100px;
    }
    .pd_b200 {
        padding-bottom: 200px;
    }

    .pd_l10 {
        padding-left: 10px;
    }

    .pd_l20 {
        padding-left: 20px;
    }

    .pd_l30 {
        padding-left: 30px;
    }

    .pd_r10 {
        padding-right: 10px;
    }

    .pd_r20 {
        padding-right: 20px;
    }

    .privacy_title{
        font-size: 24px;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 20px;
    }
    .privacy_titles{
        padding-left: 10px;
        font-weight: bolder;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .privacy_text_normal{
        font-size: 16px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .privacy_text_small{
        font-size: 15px;
        padding-right: 15px;
        padding-left: 20px;
    }

    .flame30 {
        margin: 10px auto 70px;
        background: #fff;
        width:90%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
        line-height: 40px;

    }
    .flame30-title {
        font-size: 18px;
        background: #5e5e5e;
        width: 100%;
        padding: 4px;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .flame30-text{
        font-size: 16px;
        padding-left: 10px;
        padding-right:10px;
    }
    .help_text{
        margin: 0;
    }
    .help_text_small{
        padding-left: 5px;
        font-size: 14px;
        margin: 0;
    }
    .help_link_text,
    .help_link_text:hover{
        font-size: 18px;
        color: #3399FF;
        margin: 0;
    }


/*E margin/padding*/
}
