{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}

    <section class="signup body_sub_auto">
        <form class="h-adr signup_form" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <p class="signup_text_detail">店舗名</p>
            <div class="registration">
                <table class="table">{% render_field form.restaurant_name class="sign_up_user" placeholder=""%}</table>
            </div>
            <p class="signup_text_detail">メールアドレス</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.email class="sign_up_user"　placeholder="triangle@gmail.com"%}</table>
            </div>
            <p class="signup_text_detail">分類</p>
            <div class="registration">
                <table class="table">{% render_field form.restaurant_type class="restaurant_radio" %}</table>
            </div>
            <input type="hidden" class="p-country-name" value="Japan">
             <p class="signup_text_detail">店舗 郵便番号</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.zip_code class="p-postal-code sign_up_user"  placeholder="例 5408570"%}</table>
            </div>
            <p class="signup_text_detail">店舗 都道府県</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.prefectures class="p-region sign_up_user" placeholder="例 大阪府"%}</table>
            </div>
            <p class="signup_text_detail">店舗 市町村</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.city  class="p-locality sign_up_user" placeholder="例 大阪市"%}</table>
            </div>
            <p class="signup_text_detail">店舗 区・町名</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.address1 class="p-street-address sign_up_user" placeholder="例 中央区大手町 〇〇番地"%}</table>
            </div>
            <p class="signup_text_detail">店舗 番地・建物名</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.address2 class="extended-address sign_up_user" placeholder="例 triangleマンション　〇〇号室"%}</table>
            </div>
            <p class="signup_text_detail">最寄り駅</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.nearest_station class="extended-address sign_up_user" placeholder="例 triangleマンション　〇〇号室"%}</table>
            </div>
            <p class="signup_text_detail">備考</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.text  class="restaurant_text_form" placeholder="質問等ありましたらお書き下さい。"%}</table>
            </div>
            <div class="text-center  mg_t70 pd_b100 mg_t70_sub pd_b100_sub">
                <button type="submit" class="btn btn-success signup_btn">申請</button>
            </div>
        </form>
    </section>
{% endblock body %}
