{% extends 'app/base.html' %}
{% load static %}

{% block body %}
    <section class="my_page mg_t50 mg_l10">
        <div class="my_page_div">
            <i class="fas fa-map-marker-alt"></i>
            <a class="my_page_link pd_l20" href="#">住所登録・変更</a>
        </div>
        <div class="my_page_div mg_t30">
            <i class="fas fa-user-edit"></i>
            <a class="my_page_link pd_l20" href="#">詳細登録・変更</a>
        </div>
        <div class="my_page_div mg_t30">
            <i class="fas fa-envelope"></i>
            <a class="my_page_link pd_l20" href="{% url 'email_change' %}">メールアドレスの変更</a>
        </div>
        <div class="my_page_div mg_t30">
            <i class="fas fa-file-contract"></i>
            <a class="my_page_link pd_l20" href="#">お問い合わせ</a>
        </div>
        <div class="my_page_div mg_t30">
            <i class="fas fa-book-open"></i>
            <a class="my_page_link pd_l20" href="#">利用規約</a>
        </div>
    </section>
{% endblock body %}
