{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
    <section class="pd_t30 pd_b100">
        <div class="my_users">
            <i class="fas fa-signature"></i>
            <p class="my_user_text">{{ user.first_name }}{{ user.last_name }}</p>
        </div>
        <div class="my_users">
            <i class="fas fa-envelope"></i>
            <p class="my_user_text">{{ user.email }}</p>
        </div>
        <div class="my_users">
            <i class="fas fa-phone"></i>
            <p class="my_user_text">{{ user.phone }}</p>
        </div>
    </section>
{% endblock body %}