{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
    <section class="pd_t30 pd_b100">
        <div>
           <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ user.restaurant_img1 }}" alt=""></div>
                    <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ user.restaurant_img2 }}" alt=""></div>
                    <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ user.restaurant_img3 }}" alt=""></div>
                </div>
                <div class="swiper-pagination swiper-pagination-white"></div>
                <div class="swiper-button-prev swiper-button-black"></div>
                <div class="swiper-button-next swiper-button-black"></div>
           </div>
           <div class="restaurant_body">
               <h5 class="restaurant_name">{{ user.rest_name}}</h5>
               <p class="restaurant_type">{{ user.get_restaurant_type_display }}</p>
               <p class="restaurant_business_hours">営業時間{{ user.business_hours_start }}～{{ user.business_hours_end }}</p>
           </div>
            <div class="text-right mg_t20 mg_r10">
                <a href="{% url 'restaurant_update' user.id %}" class="update_link">レストラン情報の変更</a>
            </div>
        </div>
            <div class="my_rest_users">
                <p class="my_rest_user pd_t30">ユーザー名 {{ user.first_name }}{{ user.last_name }}</p>
                <p class="my_rest_user pd_t30">E-メール {{ user.email }}</p>
                <p class="my_rest_user pd_t30">TEL {{ user.phone }}</p>
            </div>
    </section>
{% endblock body %}