{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
    <section class="pd_t30 pd_b100 body_sub_auto pd_t50_sub pd_b100_sub">
        <div>
           <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ user.restaurant_img1 }}" alt=""></div>
                    <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ user.restaurant_img2 }}" alt=""></div>
                    <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ user.restaurant_img3 }}" alt=""></div>
                </div>
                <div class="swiper-pagination swiper-pagination-white"></div>
                <div class="swiper-button-prev swiper-button-black"></div>
                <div class="swiper-button-next swiper-button-black"></div>
           </div>
           <div class="restaurant_body">
               <h5 class="restaurant_name">{{ user.rest_name}}</h5>
               <p class="restaurant_type">{{ user.get_restaurant_type_display }}</p>
               <p class="restaurant_business_hours">営業時間{{ user.business_hours_start }}～{{ user.business_hours_end }}</p>
           </div>
            <div class="text-right mg_t20 mg_r10 mg_t20_sub mg_r10_sub">
                <a href="{% url 'restaurant_update' user.id %}" class="update_link">レストラン情報の変更</a>
            </div>
        </div>
        <div class="my_users pd_l30_sub pd_t30_sub">
            <i class="fas fa-signature"></i>
            <p class="my_user_text">{{ user.first_name }}{{ user.last_name }}</p>
        </div>
        <div class="my_users pd_l30_sub pd_t30_sub">
            <i class="fas fa-envelope"></i>
            <p class="my_user_text">{{ user.email }}</p>
        </div>
        <div class="my_users pd_l30_sub pd_t30_sub">
            <i class="fas fa-phone"></i>
            <p class="my_user_text">{{ user.phone }}</p>
        </div>
        <div class="my_users pd_l30_sub pd_t30_sub">
            <i class="fas fa-map-marker-alt"></i>
            <p class="my_user_text">〒{{ user.zip_code }} {{ user.get_prefectures_display  }} {{ user.city }} {{ user.address1 }} {{ user.address2 }}</p>
        </div>
    </section>
{% endblock body %}