{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <section class="signup body_sub_auto">
        <form class="h-adr signup_form" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <p class="signup_text_detail">店舗名</p>
            <div class="registration">
                <table class="table">{% render_field form.rest_name class="sign_up_user" placeholder="登録店舗名" value=request.user.rest_name %}</table>
            </div>
            <p class="signup_text_detail">メールアドレス</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.email class="sign_up_user"　placeholder="登録済みメールアドレス" value=request.user.email %}</table>
            </div>
            <p class="signup_text_detail">商品名</p>
            <div class="registration">
                <table class="table">{% render_field form.listing_name class="sign_up_user" %}</table>
            </div>
            <p class="signup_text_detail">お客様名</p>
            <div class="registration">
                <table class="table">{% render_field form.buyer class="sign_up_user" %}</table>
            </div>
            <p class="signup_text_detail">購入日</p>
            <div class="registration">
                <table class="table">{% render_field form.date class="sign_up_user" id="date" type="date"　max="2025-03-31" min="2021-08-01"%}</table>
            </div>
             <p class="signup_text_detail">備考</p>
            <div class="registration">
                <table class="table m-0">{% render_field form.text  class="restaurant_text_form" placeholder="返品理由などを簡潔にお書き下さい。"%}</table>
            </div>
            <div class="text-center mg_t70 pd_b100 mg_t70_sub pd_b100_sub">
                <button type="submit" class="btn btn-success signup_btn">申請</button>
            </div>
        </form>
    </section>
{% endblock body %}
