{% extends 'account/base.html' %}
{% load static %}

{% block body %}
     <section class="change mg_t50 pd_b30">
       <h5 class="change_text">ご報告ありがとうございます</h5>
        <p class="change_text_detail mg_t30">早急に返品を行います。</p>
        <p class="change_text_detail">リストへの反映にはタイムラグが生じる場合がございます。</p>
       <div class="mg_t30 text-center">
            <i class="fas fa-sign-in-alt finish pd_l10"></i>
            <a class="link_black_finish pd_r10"  href="{% url 'my_page_restaurant' %}">ホーム</a>
        </div>
     </section>
{% endblock body %}