{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
    <section class="pd_b100 pd_b100_sub">
    <div class="search_rest mg_t20 mg_t30_sub">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="maker" value="food" onclick="formSwitch()" checked>
            <label class="form-check-label">フリーワード検索</label>
        </div>
        <form  action="{% url 'kyoto' %}" method="get" class="search_rests" id="freeWord">
           <input class="search" type="text" name="query" placeholder="フリーワード検索" aria-label="Search">
           <button class="search_btn">
               <i class="fas fa-search"></i>
           </button>
        </form>
        <div class="form-check mg_t20 mg_t30_sub">
            <input class="form-check-input" type="radio" name="maker" value="place" onclick="formSwitch()">
            <label class="form-check-label"> 地名・駅名で検索</label>
        </div>
        <form  action="{% url 'kyoto' %}" method="get" class="search_rests" id="placeList">
            <input class="search" type="text" name="data" placeholder="地名・駅名で検索" aria-label="Search">
            <button class="search_btn">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <div class="form-check mg_t20 mg_t30_sub">
            <input class="form-check-input" type="radio" name="maker" value="place" onclick="formSwitch()">
            <label class="form-check-label">店舗分類で検索</label>
        </div>
        <form  action="{% url 'kyoto' %}" method="get" class="search_rests" id="rest_type">
            <select class="btn btn-light select_search" name="type">
                <option value="">全て</option>
                <option value="1">食堂，レストラン</option>
                <option value="2">日本料理店</option>
                <option value="3">料亭</option>
                <option value="4">中華料理店</option>
                <option value="5">ラーメン店</option>
                <option value="6">焼肉店</option>
                <option value="7">そば・うどん店</option>
                <option value="8">酒場、ビヤホール</option>
                <option value="9">喫茶店</option>
                <option value="10">その他の飲食店</option>
                <option value="11">ハンバーガー店</option>
                <option value="12">イタリア料理店</option>
                <option value="13">アジア料理店</option>
            </select>
            <button class="search_btn">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
     <hr class="mg_t20">
        <div class="restaurants">
            {% for restaurants in restaurant %}
                <section class="restaurant mg_t30 mg_t30_sub">
                    <a href="{% url 'restaurant_detail' restaurants.pk %}">
                       <div class="card mg_b30">
                           <img class="card-img-top" src="{{ MEDIA_URL }}{{ restaurants.restaurant_img1 }}">
                           <div class="card-body restaurant_body">
                              <h5 class="restaurant_name">{{ restaurants.rest_name| truncatechars:15 }}</h5>
                              <p class="restaurant_type">{{ restaurants.get_restaurant_type_display }}</p>
                              <p class="restaurant_business_hours">営業時間{{ restaurants.business_hours_start }}～{{ restaurants.business_hours_end }}</p>
                              <p class="restaurant_business_hours_option">{{ restaurants.get_business_hours_option_display }}</p>
                              <p class="restaurant_nearest_station">最寄り駅 {{ restaurants.nearest_station }}</p>
                           </div>
                        </div>
                    </a>
                </section>
            {% endfor %}
        </div>
    </section>
{% endblock %}