{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
    <section class="restaurant_detail body_sub_auto">
        <div class="pd_t50 pd_b100 pd_t50_sub pd_b100_sub">
           <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ restaurants.restaurant_img1 }}" alt=""></div>
                    <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ restaurants.restaurant_img2 }}" alt=""></div>
                    <div class="swiper-slide"><img class="detail_img" src="{{ MEDIA_URL }}{{ restaurants.restaurant_img3 }}" alt=""></div>
                </div>
                <div class="swiper-pagination swiper-pagination-white"></div>
                <div class="swiper-button-prev swiper-button-black"></div>
                <div class="swiper-button-next swiper-button-black"></div>
           </div>
           <div class="restaurant_body pd_b50">
               <h5 class="restaurant_name">{{ restaurants.rest_name}}</h5>
               <p class="restaurant_type">{{ restaurants.get_restaurant_type_display }}</p>
               <p class="restaurant_business_hours">営業時間{{ restaurants.business_hours_start }}～{{ restaurants.business_hours_end }}</p>
               <p class="restaurant_business_hours_option">{{ restaurants.get_business_hours_option_display }}</p>
               <p class="restaurant_tel mg_b30">TEL {{ restaurants.phone }}</p>
               <div class="tab-wrap">
                   <input id="TAB02-01" type="radio" name="TAB02" class="tab-switch" checked="checked" /><label class="tab-label switch_black" for="TAB02-01">店舗住所</label>
                   <div class="tab-content">
                       <p class="restaurant_zip_code mg_t20 pd_t50_sub">〒{{ restaurants.zip_code }}</p>
                       <p class="restaurant_address mg_t20_sub">{{ restaurants.get_prefectures_display }} {{ restaurants.city }}</p>
                       <p class="restaurant_address mg_t20_sub">{{ restaurants.address1 }} {{ restaurants.address2 }}</p>
                       <p class="restaurant_nearest_detail mg_t50_sub">最寄り駅 {{ restaurants.nearest_station }}</p>
                   </div>
                   <input id="TAB02-02" type="radio" name="TAB02" class="tab-switch"/><label class="tab-label switch_black" for="TAB02-02">商品</label>
                   <div class="tab-content">
                       {% for Listing  in object.listing_set.all %}
                            <section class="restaurant_listing_home mg_t20 mg_t20_sub">
                            <a href="{% url 'listing_detail' Listing.slug%}">
                                <div class="listing_card mg_t10">
                                    <div>
                                        <img class="restaurant_listing_img" src="{{ MEDIA_URL }}{{ Listing.listing_img1 }}">
                                        <p class="card-text listing_consumption_time">※{{ Listing.get_consumption_time_display }}</p>
                                    </div>
                                    <div class="listing_text pd_t10 pd_t10_sub">
                                        <div class="card-text restaurant_listing_sale">{{ Listing.get_sale_display|default_if_none:'' }}</div>
                                        <h5 class="card-title restaurant_detail_listing_name pd_l10 pd_r10 mg_t10 pd_t30_sub pd_l20_sub pd_r10_sub">{{ Listing.listing_name| truncatechars:15 }}</h5>
                                        <p class="restaurant_price_text pd_t30 pd_t30_sub">販売価格</p>
                                        <p class="card-text restaurant_listing_price">￥{{ Listing.listing_price| intcomma }}</p>
                                        <p class="restaurant_detail_name mg_t10 mg_t20_sub">{{ Listing.listing_user.rest_name| truncatechars:15 }}</p>
                                    </div>
                                </div>
                            </a>
                        </section>
                       {% endfor %}
                   </div>
               </div>
           </div>
        </div>
    </section>
{% endblock body %}