{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}

<section class="restaurant mg_t50 pd_b30">
    <form class="restaurant_img_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="restaurant_img mg_t50">
            <div class="img_preview_rest pd_b10 mg_t15" id="preview1"></div>
            <table class="table m-0">{% render_field form.image_name1 class="restaurant_img_name"  placeholder="例 店舗の外観"%}</table>
            <label for="id_restaurant_img1" class="filelabel mg_t10">1枚目を選択</label>
            <table class="table m-0">{% render_field form.restaurant_img1|add_class:"fileinput"|attr:"onChange:restImgPreView(event,'preview1')" %}</table>
        </div>
        <div class="restaurant_img mg_t50">
            <div class="img_preview_rest pd_b10 mg_t15" id="preview2"></div>
            <table class="table m-0">{% render_field form.image_name2 class="restaurant_img_name"  placeholder="例 店舗の内観"%}</table>
            <label for="id_restaurant_img2" class="filelabel mg_t10">2枚目を選択</label>
            <table class="table m-0">{% render_field form.restaurant_img2|add_class:"fileinput"|attr:"onChange:restImgPreView(event,'preview2')" %}</table>
        </div>
        <div class="restaurant_img mg_t50">
            <div class="img_preview_rest pd_b10 mg_t15" id="preview3"></div>
            <table class="table m-0">{% render_field form.image_name3 class="restaurant_img_name"  placeholder="例 料理"%}</table>
            <label for="id_restaurant_img3" class="filelabel mg_t10">3枚目を選択</label>
            <table class="table m-0">{% render_field form.restaurant_img3|add_class:"fileinput"|attr:"onChange:restImgPreView(event,'preview3')"  %}</table>
        </div>
        <div class="text-center mg_t50">
            <button type="submit" class="btn signup_registration_btn">登録</button>
        </div>
    </form>
</section>
{% endblock body %}

