{% load cart_tags %}{% load static %}


<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
        <link href="css/social-buttons.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
        <link href="css/social-buttons.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="js/timedropper.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet"type="text/css" href="{% static 'css/main.css'%}">
        <link rel="stylesheet"type="text/css" href="{% static 'css/sub.css'%}">

    </head>
    <body class="m-0 p-0">
        <header>
            <div class="dp_flex">
                <h5 class="app_name mg_t10 mg_l10"><span class="blue">t</span>ri<span class="red">an</span>gl<span class="yellow">e</span></h5>
                {% if user.is_authenticated %}
                        <div class="wrap">
                             <a class="nav-link carts" href="{% url 'order' %}">
                                    <i class="fas fa-shopping-cart"></i>
                                    <div class="item_count">{{ request.user|itemCount }} </div>
                             </a>
                        </div>
                    {% else %}
                    <button type="button" class="btn btn-success new_user_btn p-0 mg_t10">
                        <i class="fas fa-user-plus pd_l10"></i>
                        <a class="link_white pd_r10" href="{% url 'app' %}">新規登録</a>
                    </button>
            </div>
                <div class="mg_r10 text-right pd_b10">
                    <i class="fas fa-sign-in-alt pd_l10"></i>
                    <a class="link_black pd_r10"  href="{% url 'login' %}">ログイン</a>
                </div>
                {% endif %}
        </header>
        {% block body %}
        {% endblock body %}
        <div class="fixed-bottom">
            <footer>
                <div class="main_css">
                    <nav class="footerNav sticky-bottom" >
                          <div class="nav nav-tabs" >
                              <a class="nav-link p-0"  href="{% url 'home' %}">
                                 <i class="fas fa-home"></i>
                                 <p class="footer_nav_base">ホーム</p>
                             </a>
                             <a class="nav-link p-0"  href="{% url 'my_page' %}">
                                 <i class="fas fa-user"></i>
                                 <p class="footer_nav_base">マイページ</p>
                             </a>
                             <a class="nav-link p-0" href="{% url 'link' %}">
                                 <i class="fas fa-search-plus"></i>
                                 <p class="footer_nav_base">店舗検索</p>
                             </a>
                          </div>
                    </nav>
                </div>
            </footer>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>
        <script src="tippy.all.min.js"></script>
        <script src="https://unpkg.com/tippy.js/dist/tippy.all.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7Vehhu5eQmAmUHMvf7kmMIKM_zXeayBo&callback&callback=initMap" async defer></script>
        <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
    </body>
</html>
