{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}


{% block body %}
<seciton class="index mg_t50 mg_t70_sub">
    <div class="text-center mt-4">
        <label>投稿</label>
    </div>

    <form class="create_post" id="post_create" method="post" action="">
        {% csrf_token %}

    <div>
        <div class="card mt-5" style="width:18rem;margin: 0 auto;">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
        </div>

        <div class="container mt-2 w-50">
            <!--<img class="img-thumbnail" src="/images/pathToYourImage.png" alt="Thumbnail image">-->
            <div class="custom-file mt-2">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">画像追加</label>
            </div>
            <label>タイトル</label>
            <table class="custom-table">
                {% render_field form.title placeholder="タイトル" %}
            </table>

              <!--<div class="form-group">
                <label for="formGroupExampleInput2">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
              </div>-->
            <label>ゲームジャンル</label>
            <table class="custom-table">
                {% render_field form.games placeholder="タイトル" %}
            </table>


            <label>詳細内容</label>
            <table class="custom-table">
                {% render_field form.content placeholder="詳細内容" %}
            </table>


        </div>



    </div>

    <button type="submit" class="btn btn-secondary btn-mg mx-auto d-block" >送信</button>

            <!--<label class="font-weight-bold">評価</label>
            <div class="d-flex justify-content-center">

                <div class="content text-center">
                  <div class="ratings"> <span class="product-rating">4.6</span><span>/5</span>
                      <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                      <div class="rating-text"> <span>46 ratings & 15 reviews</span> </div>
                  </div>
                </div>
            </div>-->
            </form>
</seciton>


{% endblock body %}