{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
    <section class="privacy pd_t50 pd_b100 pd_t50_sub pd_b100_sub">
        <h3 class="privacy_title">出品店ヘルプ</h3>
        <div class="flame30 mg_t50">
            <div class="flame30-title">商品代金の入金について</div>
            <div class="flame30-text">
                <p class="help_text">
                    商品代金は、当月末締め翌月末払いという形で出品店に支払われます。
                    その際、サービス手数料が差し引かれた金額となる旨、予めご了承ください。
                </p>
            </div>
        </div>
        <div class="flame30"> 
            <div class="flame30-title">商品を掲載するにあたり費用について</div>
            <div class="flame30-text">
                <p class="help_text">
                    月額980円でご利用いただけます。
                </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">出品店として登録について</div>
            <div class="flame30-text">
                 <p class="help_text">
                     出品店の方は、triangleホームページ上で必要情報の登録を行ったのち、審査をさせていただきます。
                     審査の結果をメールで送付させて頂き、契約締結後にサイト上で商品の売買が可能となります。
                </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">通常商品の出品について</div>
            <div class="flame30-text">
                <p class="help_text">
                    ご利用可能です。
                    店舗で通常販売されているテイクアウト商品も掲載可能です。
                </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">出品時間にていて</div>
            <div class="flame30-text">
                 <p class="help_text">
                     ご自由な時間に出品可能です。
                     店舗マイページより出品するリンクより出品を行ってください。
                 </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">テイクアウトを行っていないお店について</div>
            <div class="flame30-text">
                 <p class="help_text">
                     ご利用可能ですが、テイクアウト容器は店舗側でご用意していただく必要があります。
                 </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">出品可能な商品について</div>
            <div class="flame30-text">
                  <p class="help_text">
                      利用規約に記載の登録禁止商品以外の食品に限ります。
                  </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">サポート等の追加費用について</div>
            <div class="flame30-text">
                <p class="help_text">
                    追加費用やオプションは一切かかりません。
                </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">出品の価格の設定について</div>
            <div class="flame30-text">
                <p class="help_text">
                    自由に設定可能となっております。
                    トラブル回避のためにも店舗で通常販売されているテイクアウト商品につきましては店舗と同価格で掲載することを推奨しております。
                </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">退会にていて</div>
            <div class="flame30-text">
                 <p class="help_text">
                    <p class="help_text">以下に申請してください。</p>
                    <a href="{% url 'contact' %}" class="help_link_text">こちら</a>
                    <p class="help_text">退会処理には１～3日かかる為、更新期限を確認し余裕をもって申請してください。</p>
                 </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">お問い合わせ方法</div>
            <div class="flame30-text">
                <p class="help_text">ヘルプページでも解決できな場合</p>
                <a href="{% url 'contact_rest' %}" class="help_link_text">こちら</a>
                <p class="help_text">以下の情報を入力しお問い合わせください。</p>
                <p class="help_text">内容：お困りの内容、取引のオーダーID、商品名、ご状況について詳しくお書き下さい。</p>
            </div>
        </div>
    </section>
{% endblock body %}