{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}



{% block body %}
    <section class="privacy pd_t50 pd_b100 pd_t50_sub pd_b100_sub">
        <h3 class="privacy_title">ユーザーヘルプ</h3>
        <div class="flame30 mg_t50">
            <div class="flame30-title">triangleについて</div>
            <div class="flame30-text">
                <p class="help_text">triangleは、飲食店のテイクアウトサービスを仲介するサービスです。</p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">会員登録料金について</div>
            <div class="flame30-text">
                <p class="help_text">会員登録は無料です。</p>
            </div>
        </div>

        <div class="flame30">
            <div class="flame30-title">お電話でのお問い合わせについて</div>
            <div class="flame30-text">
                <p class="help_text">
                    triangleのご登録・ご利用・取引に関するお問い合わせにつきましては、原則メールにて回答させていただいております。
                    お手数ですがtriangle内のお問い合わせフォームをご利用ください。
                </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">商品検索について</div>
            <div class="flame30-text">
                <p class="help_text">triangleでは、お探しの商品を「地域」と「フリーワード」と「予算」で検索することができます。</p>
                <p class="help_text_small">・地域：お住まいの府県を選択し検索します。</p>
                <p class="help_text_small">・フリーワード：お探しの商品名称を検索窓に入力し検索します。</p>
                <p class="help_text_small">・予算：お探しの商品金額を入力し検索します。</p>
                <p class="help_text">これら3つを上手く組み合わせて検索すると、お探しの商品を見つけやすくなります。</p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">商品の支払方法について</div>
            <div class="flame30-text">
                <p class="help_text">支払方法は、現在クレジットカードのみになります。</p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">お店の営業時間外にリクエストについて</div>
            <div class="flame30-text">
                <p class="help_text">
                    営業時間外のリクエストは不可となっております。
                    営業時間は出品店により変わるため店舗詳細ページにてご確認ください。
                </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">引き取り時間について</div>
            <div class="flame30-text">
                <p class="help_text">
                    ユーザーと出品店舗のトラブルを無くす為、引き取り時間を定めています。
                </p>
            </div>
        </div>
        <div class="flame30 mg_t50">
            <div class="flame30-title">商品のアレルギー情報について</div>
            <div class="flame30-text">
                <p class="help_text">
                    サービスの性質上、商品のアレルギー情報を正確に記載するのが難しくなっています。不安なお客様は、店舗へ直接ご確認下さい。
                </p>
            </div>
        </div>
            <div class="flame30">
            <div class="flame30-title">お問い合わせ方法</div>
            <div class="flame30-text">
                <p class="help_text">ヘルプページでも解決できな場合</p>
                <a href="{% url 'contact_rest' %}" class="help_link_text">こちら</a>
                <p class="help_text">以下の情報を入力しお問い合わせください。</p>
                <p class="help_text">内容：お困りの内容、取引のオーダーID、商品名、ご状況について詳しくお書き下さい。</p>
            </div>
        </div>
    </section>
{% endblock body %}