{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
    <section class="listing mg_t50 pd_b30">
       
        <a href="{%url 'contact'%}" class="change_text_small mg_t70 btn_02">ユーザーヘルプ</a>
        <a href="help_Store.html" class="change_text_small mg_t20 btn_02">出品店ヘルプ</a>

        <h5 class="change_text mg_t70">出品店ヘルプ</h5>

        <div class="flame30 mg_t50">
            <div class="flame30-title">商品代金はいつ入金されますか。</div>
            <div class="flame30-text">
                <p>商品代金は、当月末締め翌月末払いという形で出品店に支払われます。<br>
            その際、サービス手数料が差し引かれた金額となる旨、予めご了承ください。
            </p>
            </div>
        </div>
        <div class="flame30"> 
            <div class="flame30-title">商品を掲載するにあたり費用が必要となりますか。</div>
            <div class="flame30-text">
                <p>月額980円でご利用いただけます。</p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">出品店として登録したいのですが、ホームページ上で申請すれば出品店登録できますか。</div>
            <div class="flame30-text">
                 <p>出品店の方は、traiangleホームページ上で必要情報の登録を行ったのち、審査をさせていただきます。<br>
                審査の結果をメールで送付させて頂き、契約締結後にサイト上で商品の売買が可能となります。
            </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">ロスがあまり発生しないのですが、利用可能ですか？</div>
            <div class="flame30-text">
                <p> ご利用可能です。<br>
                店舗で通常販売されているテイクアウト商品も掲載可能です。
            </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">出品時間は毎日操作できますか？</div>
            <div class="flame30-text">
                 <p>  毎日操作可能となっております。<br>
                 編集ページからご変更ください。
            </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">テイクアウトをやっていないお店でも始められますか？</div>
            <div class="flame30-text">
                <p> ご利用可能ですが、テイクアウト容器は店舗側でご用意していただく必要があります。</p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">どんなものでも出品できますか？</div>
            <div class="flame30-text">
                 <p> 利用規約に記載の登録禁止商品以外の食品に限ります。</p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">解約費用や契約期間はありますか？</div>
            <div class="flame30-text">
                <p> 個人事業主様もお申込み可能です。</p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">サポート等の追加費用はかかりますか？</div>
            <div class="flame30-text">
                <p> 追加費用やオプションは一切かかりません。</p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">出品の価格は自由に設定できますか？</div>
            <div class="flame30-text">
                <p>  自由に設定可能となっております。<br>
                 トラブル回避のためにも店舗で通常販売されているテイクアウト商品につきましては店舗と同価格で掲載することを推奨しております。
            </p>
            </div>
        </div>
        <div class="flame30">
            <div class="flame30-title">上記以外の質問がある場合</div>
            <div class="flame30-text mg_b100">
                 <p>  こちらのお問い合わせフォームへご連絡ください。<br>
                問い合わせURL
            </p>
            </div>
        </div>
    </section>
{% endblock body %}