{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
    <div class="searches mg_t30 mg_b30">
       <div class="dropdown mg_l20">
           <a class="btn btn-light dropdown-toggle" href={% url 'product_list' %}"" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               商品検索
           </a>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'product_vegetables' %}">野菜</a>
            <a class="dropdown-item" href="{% url 'product_fruits' %}">果物</a>
            <a class="dropdown-item" href="{% url 'product_fish' %}">鮮魚</a>
            <a class="dropdown-item" href="{% url 'product_meat' %}">食肉</a>
            <a class="dropdown-item" href="{% url 'product_dairy' %}">乳製品</a>
            <a class="dropdown-item" href="{% url 'product_processing' %}">加工食品</a>
            <a class="dropdown-item" href="{% url 'product_drink' %}">飲料</a>
            <a class="dropdown-item" href="{% url 'product_alcohol' %}">アルコール飲料</a>
            <a class="dropdown-item" href="{% url 'product_other' %}">その他</a>
          </div>
       </div>
       <form  action="{% url 'product_list' %}" method="get" class="search_word mg_b40">
           <input class="search" type="text" name="query" placeholder="検索" aria-label="Search">
           <button class="search_btn">
               <i class="fas fa-search"></i>
           </button>
       </form>
    </div>
    <div class="tab-wrap mg_t50">
        <input id="TAB02-01" type="radio" name="TAB02" class="tab-switch" checked="checked" /><label class="tab-label switch_black" for="TAB02-01">トップ</label>
        <div class="tab-content">
        </div>
        <input id="TAB02-02" type="radio" name="TAB02" class="tab-switch" /><label class="tab-label switch_blue" for="TAB02-02">新着商品</label>
        <div class="tab-content">
        <section class="listing_home mg_t30">
            {% for Listing in item_data %}
                <a href="{% url 'listing_detail' Listing.slug%}">
                    <div class="listing_card mg_t10">
                          <img class="listing_img" src="{{ MEDIA_URL }}{{ Listing.listing_img1 }}">
                          <div class="listing_text">
                              <h5 class="card-title listing_name pd_l10 pd_r10 mg_t15">{{ Listing.listing_name| truncatechars:15 }}</h5>
                          <div class="like_count mg_l10">
                                  {% if request.user in Listing.like.all %}
                                      <i class="fas fa-heart heart_true"></i> {{Listing.like.count}}
                                  {% else %}
                                      <i class="far fa-heart heart_false"></i> {{Listing.like.count}}
                                  {% endif %}
                          </div>
                              <p class="card-text listing_price pd_l20 mg_t15">￥{{ Listing.listing_price| intcomma }}</p>
                              <p class="card-text listing_type">{{ Listing.listing_user.business_person_name }}</p>
                          </div>
                    </div>
                </a>
            {% endfor %}
        </section>
        </div>
        <input id="TAB02-03" type="radio" name="TAB02" class="tab-switch" /><label class="tab-label switch_red" for="TAB02-03">注目商品</label>
        <div class="tab-content">
            <section class="listing_home mg_t30">
            {% for Listing in likes %}
                <a href="{% url 'listing_detail' Listing.slug%}">
                    <div class="listing_card mg_t10">
                          <img class="listing_img" src="{{ MEDIA_URL }}{{ Listing.listing_img1 }}">
                          <div class="listing_text">
                              <h5 class="card-title listing_name pd_l10 pd_r10 mg_t15">{{ Listing.listing_name| truncatechars:15 }}</h5>
                          <div class="like_count mg_l10">
                                  {% if request.user in Listing.like.all %}
                                      <i class="fas fa-heart heart_true"></i> {{Listing.like.count}}
                                  {% else %}
                                      <i class="far fa-heart heart_false"></i> {{Listing.like.count}}
                                  {% endif %}
                          </div>
                              <p class="card-text listing_price pd_l20 mg_t15">￥{{ Listing.listing_price| intcomma }}</p>
                              <p class="card-text listing_type">{{ Listing.listing_user.business_person_name }}</p>
                          </div>
                    </div>
                </a>
            {% endfor %}
        </section>
        </div>
        <input id="TAB02-05" type="radio" name="TAB02" class="tab-switch" /><label class="tab-label switch_yellow" for="TAB02-05">注目のレシピ</label>
        <div class="tab-content">
            <section class="recipe_list mg_t30">
                 <div class="recipes mg_t15">
                    {% for Recipe in good %}
                        <a href="{% url 'recipe_detail' Recipe.pk%}">
                            <div class="recipe_one">
                                <img class="recipe_img" src="{{ MEDIA_URL }}{{ Recipe.recipe_img1 }}">
                                <p class="recipe_title">{{ Recipe.recipe_title | truncatechars:15}}</p>
                                <p class="recipe_time">調理時間 {{ Recipe.get_recipe_time_display }}</p>
                                <p class="recipe_name">投稿者:{{ Recipe.user.business_person_name }}</p>
                            </div>
                        </a>
                    {% endfor %}
                 </div>
    </section>
        </div>　　　　
    </div>

{% endblock body %}