{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
    <section class="home mg_t30 mg_b100">
        <div class="searches mg_b30 mg_t50_sub">
           <div class="dropdown mg_l20">
               <a class="btn btn-light dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 都道府県
               </a>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'product_list' %}">全て</a>
                <a class="dropdown-item" href="{% url 'product_mie' %}">三重県</a>
                <a class="dropdown-item" href="{% url 'product_siga' %}">滋賀県</a>
                <a class="dropdown-item" href="{% url 'product_kyoto' %}">京都府</a>
                <a class="dropdown-item" href="{% url 'product_osaka' %}">大阪府</a>
                <a class="dropdown-item" href="{% url 'product_hyogo' %}">兵庫県</a>
                <a class="dropdown-item" href="{% url 'product_nara' %}">奈良県</a>
                <a class="dropdown-item" href="{% url 'product_wakayama' %}">和歌山県</a>
              </div>
           </div>
           <form  action="{% url 'product_list' %}" method="get" class="search_word mg_b40">
               <input class="search_home" type="text" name="query" placeholder="商品検索" aria-label="Search">
               <button class="search_btn">
                   <i class="fas fa-search"></i>
               </button>
           </form>
        </div>
        <div class="tab-wrap">
            <input id="TAB02-01" type="radio" name="TAB02" class="tab-switch" checked="checked" /><label class="tab-label switch_black" for="TAB02-01">注目商品</label>
            <div class="tab-content">
                <div class="listings">
                     {% for Listing in likes%}
                        <section class="listing_home mg_t20 mg_t20_sub">
                            <a href="{% url 'listing_detail' Listing.slug%}">
                                <div class="listing_card mg_t10">
                                    <div>
                                        <img class="listing_img" src="{{ MEDIA_URL }}{{ Listing.listing_img1 }}">
                                        <p class="card-text listing_consumption_time">※{{ Listing.get_consumption_time_display }}</p>
                                    </div>
                                    <div class="listing_text pd_t10 pd_t10_sub">
                                        <div class="card-text listing_sale">{{ Listing.get_sale_display|default_if_none:'' }}</div>
                                        <h5 class="card-title listing_name pd_l10 pd_r10 mg_t10 pd_t10_sub pd_l20_sub pd_r10_sub">{{ Listing.listing_name| truncatechars:15 }}</h5>
                                        <p class="price_text pd_t30 pd_t10_sub">販売価格</p>
                                        <p class="card-text listing_price">￥{{ Listing.listing_price| intcomma }}</p>
                                        <p class="restaurant_listing_name mg_t10 mg_t20_sub">{{ Listing.listing_user.rest_name| truncatechars:15 }}</p>
                                    </div>
                                </div>
                            </a>
                        </section>
                    {% endfor %}
                </div>
            </div>
            <input id="TAB02-02" type="radio" name="TAB02" class="tab-switch"/><label class="tab-label switch_blue" for="TAB02-02">新着商品</label>
            <div class="tab-content">
                 <div class="listings">
                     {% for Listing in likes%}
                        <section class="listing_home mg_t20 mg_t20_sub">
                            <a href="{% url 'listing_detail' Listing.slug%}">
                                <div class="listing_card mg_t10">
                                    <div>
                                        <img class="listing_img" src="{{ MEDIA_URL }}{{ Listing.listing_img1 }}">
                                        <p class="card-text listing_consumption_time">※{{ Listing.get_consumption_time_display }}</p>
                                    </div>
                                    <div class="listing_text pd_t10 pd_t10_sub">
                                        <div class="card-text listing_sale">{{ Listing.get_sale_display|default_if_none:'' }}</div>
                                        <h5 class="card-title listing_name pd_l10 pd_r10 mg_t10 pd_t10_sub pd_l20_sub pd_r10_sub">{{ Listing.listing_name| truncatechars:15 }}</h5>
                                        <p class="price_text pd_t30 pd_t10_sub">販売価格</p>
                                        <p class="card-text listing_price">￥{{ Listing.listing_price| intcomma }}</p>
                                        <p class="restaurant_listing_name mg_t10 mg_t20_sub">{{ Listing.listing_user.rest_name| truncatechars:15 }}</p>
                                    </div>
                                </div>
                            </a>
                        </section>
                    {% endfor %}
                </div>
            </div>
            <input id="TAB02-03" type="radio" name="TAB02" class="tab-switch"/><label class="tab-label switch_red" for="TAB02-03">お気に入り商品</label>
            <div class="tab-content">
                <div class="listings">
                    {% for Listing in item_data%}
                            <section class="listing_home mg_t20 mg_t20_sub mg_l20_sub">
                            {% if request.user in Listing.like.all %}
                                <a href="{% url 'listing_detail' Listing.slug%}">
                                <div class="listing_card_fav mg_t10">
                                    <div>
                                        <img class="listing_img" src="{{ MEDIA_URL }}{{ Listing.listing_img1 }}">
                                        <p class="card-text listing_consumption_time">※{{ Listing.get_consumption_time_display }}</p>
                                    </div>
                                    <div class="listing_text pd_t10 pd_t10_sub">
                                        <div class="card-text listing_sale">{{ Listing.get_sale_display|default_if_none:'' }}</div>
                                        <h5 class="card-title listing_name pd_l10 pd_r10 mg_t10 pd_t10_sub pd_l20_sub pd_r10_sub">{{ Listing.listing_name| truncatechars:15 }}</h5>
                                        <p class="price_text pd_t30 pd_t10_sub">販売価格</p>
                                        <p class="card-text listing_price">￥{{ Listing.listing_price| intcomma }}</p>
                                        <p class="restaurant_listing_name mg_t10 mg_t20_sub">{{ Listing.listing_user.rest_name| truncatechars:15 }}</p>
                                        <a href="{% url 'additem' Listing.slug  %}" ><button type="submit" class="btn btn-warning mg_t10">カートに入れる</button></a>
                                        <div class="text-right pd_r10 pd_b10 mg_t10 pd_r10_sub pd_t10_sub pd_b10_sub">
                                            <a href="{% url 'like-home' Listing.pk %}" class="delete_item " tabindex="-1" role="button" aria-disabled="true">削除</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% else %}
                            {% endif %}
                            </section>
                        {% endfor %}
                </div>
            </div>　　
            <input id="TAB02-04" type="radio" name="TAB02" class="tab-switch sub_css"/><label class="tab-label switch_yellow sub_css" for="TAB02-04">店舗検索</label>
            <div class="tab-content sub_css">
                <section class="rest_page mg_t50 mg_l10 pd_b100_sub">
                    <div class="rest_page_div mg_t30_sub">
                        <a class="rest_page_link pd_l20" href="{% url 'mie'%}">三重県</a>
                    </div>
                    <div class="rest_page_div mg_t30 mg_t30_sub">
                        <a class="rest_page_link pd_l20" href="{% url 'siga' %}">滋賀県</a>
                    </div>
                    <div class="rest_page_div mg_t30 mg_t30_sub">
                        <a class="rest_page_link pd_l20" href="{% url 'kyoto' %}">京都府</a>
                    </div>
                    <div class="rest_page_div mg_t30 mg_t30_sub">
                        <a class="rest_page_link pd_l20" href="{% url 'osaka' %}">大阪府</a>
                    </div>
                    <div class="rest_page_div mg_t30 mg_t30_sub">
                        <a class="rest_page_link pd_l20" href="{% url 'hyogo' %}">兵庫県</a>
                    </div>
                    <div class="rest_page_div mg_t30 mg_t30_sub">
                        <a class="rest_page_link pd_l20" href="{% url 'nara' %}">奈良県</a>
                    </div>
                    <div class="rest_page_div mg_t30 mg_t30_sub">
                        <a class="rest_page_link pd_l20" href="{% url 'wakayama' %}">和歌山県</a>
                    </div>

                </section>
            </div>
        </div>
    </section>

{% endblock body %}