{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
    <section class="index mg_t50">
        <div class="index_titles">
            <h6 class="index_title">月額980円の会員制ショッピングサイト</h6>
            <h4 class="index_title_main pd_t10"><span class="blue">t</span>ri<span class="red">an</span>gl<span class="yellow">e</span></h4>
            <p class="index_title_sub">30日間の無料トライアルあり</p>
        </div>

        <div class="text-center mg_t70">
          <button type="submit" class="btn btn-primary trial_btn" id="submitBtn">無料トライアルを試してみる</button>
        </div>
        <div class="text-center mg_t20">
         <a href="{% url 'application' %}"><button class="btn btn-link" type="button">飲食店として登録する</button></a>
        </div>
    </section>
{% endblock body %}