{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block body %}
   <div class="form-check mg_l10 mg_t20">
        <input class="form-check-input" type="radio" name="maker" value="food" onclick="formSwitch()" checked>
        <label class="form-check-label">フリーワード検索</label>
    </div>
   <div class="searches mg_t15 mg_b20" id="freeWord">
       <div class="dropdown mg_l20">
           <a class="btn btn-secondary dropdown-toggle" href={% url 'product_siga' %}"" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               滋賀県
           </a>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'product_list' %}">すべて</a>
                <a class="dropdown-item" href="{% url 'product_mie' %}">三重県</a>
                <a class="dropdown-item" href="{% url 'product_kyoto' %}">京都府</a>
                <a class="dropdown-item" href="{% url 'product_osaka' %}">大阪府</a>
                <a class="dropdown-item" href="{% url 'product_hyogo' %}">兵庫県</a>
                <a class="dropdown-item" href="{% url 'product_nara' %}">奈良県</a>
                <a class="dropdown-item" href="{% url 'product_wakayama' %}">和歌山県</a>
           </div>
       </div>
       <form  action="{% url 'product_siga' %}" method="get" class="search_word mg_b20">
           <input class="search" type="text" name="query" placeholder="地名またはキーワードで検索" aria-label="Search">
           <button class="search_btn">
               <i class="fas fa-search"></i>
           </button>
       </form>
   </div>
   <div class="form-check mg_t20 mg_l10">
        <input class="form-check-input" type="radio" name="maker" value="place" onclick="formSwitch()">
        <label class="form-check-label"> 予算で検索</label>
    </div>
    <form  action="{% url 'product_list' %}" method="get" class="search_price mg_b40 mg_t15" id="placeList">
        ￥<input class="search" type="number" name="data" placeholder="予算を入力" aria-label="Search">
        <button class="search_btn">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <section class="listing_home mg_t50 pd_b100">
        {% for Listing in item_data %}
            <a href="{% url 'listing_detail' Listing.slug%}">
                <div class="listing_card mg_t10">
                    <div>
                        <img class="listing_img" src="{{ MEDIA_URL }}{{ Listing.listing_img1 }}">
                        <p class="card-text listing_consumption_time">※{{ Listing.get_consumption_time_display }}</p>
                    </div>
                    <div class="listing_text">
                        <h5 class="card-title listing_name pd_l10 pd_r10 mg_t15">{{ Listing.listing_name| truncatechars:15 }}</h5>
                        <p class="price_text">通常販売価格</p>
                        <p class="card-text listing_originally_price"><del>￥{{ Listing.listing_originally_price| intcomma }}</del></p>
                        <p class="card-text down">↓</p>
                        <p class="price_text">特別販売価格</p>
                        <p class="card-text listing_price">￥{{ Listing.listing_price| intcomma }}</p>
                        <p class="card-text listing_type"></p>
                        {% for restaurant in restaurants %}
                            <p class="restaurant_listing_name">{{ restaurant.restaurant_name| truncatechars:15 }}</p>
                        {% endfor %}
                      </div>
                </div>
            </a>
        {% endfor %}
    </section>
{% endblock body %}