{% extends 'account/base.html' %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block body %}
<section>
    <h2 class="text-center mt-5">マイページ設定</h2>
    <div class="text-center">
      <img src="../../../kubomasa/ブログ/template.png/" class="rounded-circle">
    </div>

    <div class="container mt-5 w-50">
        <div class="d-flex justify-content-center input-group mb-3 ">
            <!--<div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>-->
            <label>画像変更</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <!--<button type="button" class="btn btn-success mt-5" >画像変更</button>-->
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
    </div>

    <div class="container mt-5 w-50">
        <div class="justify-content-center input-group  mt-5 " >
            <label class="font-weight-bold">アカウント名</label>
            <!--<div class="input-group-prepend">
              <span class="input-group-text text-center" id="basic-addon1">@</span>
            </div>-->
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3 mt-3">
            <label class="font-weight-bold">ゲームジャンル</label>
            <!--<div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>-->
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
        </div>
        <label class="font-weight-bold">評価</label>
        <div class="d-flex justify-content-center">

          <div class="content text-center">
              <div class="ratings"> <span class="product-rating">4.6</span><span>/5</span>
                  <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                  <div class="rating-text"> <span>46 ratings & 15 reviews</span> </div>
              </div>
          </div>
      </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1" class="font-weight-bold">紹介文</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
    <div class="text-center mt-5">
        <button class="btn btn-success">登録する</button>
    </div>
    <!--
    <div class="text-center mt-5">
        <button class="btn btn-danger">HOMEへ戻る</button>
        <button class="btn btn-success">変更を保存</button>
    </div>
-->
</section>
{% endblock body %}