{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}

    <section class="signup body_sub_auto">
        <form class="h-adr signup_form" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <p class="signup_text_detail">姓　漢字</p>
            <div class="registration">
                <table class="table">{% render_field form.first_name class="sign_up_user" value=request.user.first_name%}</table>
            </div>
            <p class="signup_text_detail">姓　カナ</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.first_name_kana class="sign_up_user"　%}</table>
            </div>
            <p class="signup_text_detail">名　漢字</p>
            <div class="registration">
                <table class="table">{% render_field form.last_name class="sign_up_user" value=request.user.last_name%}</table>
            </div>
            <p class="signup_text_detail">名　カナ</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.last_name_kana class="sign_up_user"　%}</table>
            </div>
            <p class="signup_text_detail">電話番号</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.phone class="sign_up_user"　value="+81"request.user.phone%}</table>
            </div>
            <p class="signup_text_detail">郵便番号</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.postal_code class="sign_up_user"%}</table>
            </div>
            <p class="signup_text_detail">都道府県</p>
            <div class="registration">
                <table class="table">{% render_field form.state class="sign_up_user" %}</table>
            </div>
            <p class="signup_text_detail">都道府県　カナ</p>
            <div class="registration">
                <table class="table">{% render_field form.state_kana class="sign_up_user" %}</table>
            </div>
            <p class="signup_text_detail">市町村</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.city class="sign_up_user"　%}</table>
            </div>
            <p class="signup_text_detail">市町村　カナ</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.city_kana class="sign_up_user"　%}</table>
            </div>
            <p class="signup_text_detail">町名</p>
            <div class="registration">
                <table class="table">{% render_field form.town class="sign_up_user"%}</table>
            </div>
            <p class="signup_text_detail">町名　カナ</p>
            <div class="registration">
                <table class="table">{% render_field form.town_kana class="sign_up_user"%}</table>
            </div>
            <p class="signup_text_detail">番地</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.line1 class="sign_up_user"%}</table>
            </div>
            <p class="signup_text_detail">番地　カナ</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.line1_kana class="sign_up_user"%}</table>
            </div>
            <p class="signup_text_detail">建物名</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.line2 class="sign_up_user"%}</table>
            </div>
            <p class="signup_text_detail">建物名　カナ</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.line2_kana class="sign_up_user"%}</table>
            </div>
            <p class="signup_text_detail">西暦</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.year class="sign_up_user"%}</table>
            </div>
            <p class="signup_text_detail">月</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.month class="sign_up_user"%}</table>
            </div>
            <p class="signup_text_detail">日</p>
            <div class="registration">
                <table class="table width_100">{% render_field form.day class="sign_up_user"%}</table>
            </div>

            <div class="text-center  mg_t70 pd_b100 mg_t70_sub pd_b100_sub">
                <button type="submit" class="btn btn-success signup_btn">申請</button>
            </div>
        </form>
    </section>
{% endblock body %}