{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
    <section class="privacy pd_t50 pd_b100 pd_t50_sub pd_b100_sub">
        <h3 class="privacy_title">利用規約(店舗用)</h3>
        <p class="privacy_text_normal">
            この利用規約（以下，「本規約」といいます。）は，triangle（以下，「当方」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。
            登録出品店の皆さま（以下，「出品店」といいます。）には，本規約に従って，本サービスをご利用いただきます。
        </p>

        <h5 class="privacy_titles">第1条（適用）</h5>
        <p class="privacy_text_normal">本規約は，出品店と当方との間の本サービスの利用に関わる一切の関係に適用されるものとします。 当方は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」と言います。）をすることがあります。
            これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
            本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        </p>

        <h5 class="privacy_titles">第2条（利用登録）</h5>
        <p class="privacy_text_normal">
            本サービスにおいては，登録希望者が本規約に同意の上，当方の定める方法によって利用登録を申請し，当方がこの承認を登録希望者に通知することによって，利用登録が完了するものとします。
            当方は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。
        </p>
        <p class="privacy_text_small">・利用登録の申請に際して虚偽の事項を届け出た場合</p>
        <p class="privacy_text_small">・本規約に違反したことがある者からの申請である場合</p>
        <p class="privacy_text_small">・未成年者（満20歳未満の個人を意味します。）による出品店登録の場合</p>
        <p class="privacy_text_small">・成年被後見人、被保佐人又は被補助人のいずれかに該当し、後見人、保佐人、補助人の同意等を得ていない場合。なお、当方はかかる同意等を示す書面の提出を求めることがありますが、かかる書面が提出された場合でも、登録を拒否することがあります。</p>
        <p class="privacy_text_small">・反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である。
            又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合</p>
        <p class="privacy_text_small">・その他，当方が利用登録を相当でないと判断した場合</p>

        <h5 class="privacy_titles">第3条 (メールアドレス及びパスワードの管理)</h5>
        <p class="privacy_text_normal">
            出品店は、出品店が当方の定めるところに従い本サービス上で設定するメールアドレス、パスワード等の管理を行う責任を負うものとします。
            出品店はメールアドレス及びパスワード等を第三者に利用させ、又は譲渡若しくは担保設定その他の処分をすることはできないものとします。
      　    メールアドレス及びパスワード等の管理不十分、使用上の過誤、第三者の使用等による損害の責任は会員が負うものとし、当社は一切の責任を負わないものとします。
       　   出品店は、メールアドレス又はパスワード等が第三者に漏れた場合、あるいはメールアドレス又はパスワード等が第三者に使用されている疑いのある場合には、直ちに当方にその旨を連絡するとともに、当方の指示がある場合にはこれに従うにものとします。この場合、当方はそのメールアドレスやパスワード等を不正アカウントとして停止することができるものとし、当方は、かかる停止に基づき会員に生じた損害について一切の責任を負いません。
        </p>
        <h5 class="privacy_titles">第4条（利用料金および支払方法）</h5>
        <p class="privacy_text_normal">
            本サービス月額利用料金（980円）のお支払いは、利用者本人名義もしくは法人名義のクレジットカードによるお支払いのみとします。
            クレジットカードでのお支払いについては、利用者がカード会社との間で別途契約する条件に従うものとします。なお利用者とカード会社等の間で紛争が生じた場合には、利用者は自己の責任と費用で当該紛争を処理解決するものとし、当サービスおよび出品店に迷惑を被らせないものとします。
            出品店は、自らが出品した商品につき、本規約等に基づき売買契約が成立した場合において、ユーザーが、本規約等に定めるところにより、当方所定の方法で商品代金の支払にクレジットカード決済等を利用する旨の意思表示を行い、
            弊社らがこれを承認した場合には、本規約等に従って適正にクレジットカード決済等を受け入れるものとします。
            当方は、本規約に定める代理受領権限に基づき、クレジットカード会社等の決済事業者又は収納代行業者から商品代金相当額を受領します。
        </p>

        <h5 class="privacy_titles">第5条（売上金の計上）</h5>
        <p class="privacy_text_normal">
            当方は、利用規約に基づき取引完了の通知を受けた場合、ユーザーが支払った商品代金を出品店のtriangle上において売上金として計上するものとします。
            なお、決済手段の別にかかわらず、本サービスを利用した決済に関し、当方は、ユーザーによってなされた決済についての領収書等は発行しません。
        </p>

        <h5 class="privacy_titles">第6条（売上金の振込）</h5>
        <p class="privacy_text_normal">
            当方は、売上金を月単位で管理し、月末締め、翌月末に自動振込とし、売上金の全額から手数料（3.７％）を控除した金額を、出品店が登録した金融機関の口座に振り込む方法により支払います。
            なお、本項に基づき、当方が振込手続を行ったにもかかわらず、出品店の責めに帰すべき事由により振込みが正常に完了しない場合には、当方は、当該出品店が、当該売上金の支払請求権を放棄したものとみなすことができるものとします。
            振込に当たって、当方は、本人確認を求めることがあり、かかる本人確認が終了するまでは、前項の支払いを留保させていただくことがあります。
        </p>

        <h5 class="privacy_titles">第7条（登録禁止商品） </h5>
        <p class="privacy_text_normal">
            出品店は，本サービスの利用にあたり，以下の商品登録・販売をしてはなりません。
            食品以外の商品全て
        </p>

        <h5 class="privacy_titles">第8条（禁止事項）</h5>
        <p class="privacy_text_normal">出品店は，本サービスの利用にあたり，以下の行為をしてはなりません。</p>
        <p class="privacy_text_normal">1.法令または公序良俗に違反する行為</p>
        <p class="privacy_text_normal">2.犯罪行為に関連する行為</p>
        <p class="privacy_text_normal">3.当方，本サービスの他のユーザー，または第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</p>
        <p class="privacy_text_normal">4.当方のサービスの運営を妨害するおそれのある行為</p>
        <p class="privacy_text_normal">5.他のユーザーに関する個人情報等を収集または蓄積する行為</p>
        <p class="privacy_text_normal">6.不正アクセスをし，またはこれを試みる行為</p>
        <p class="privacy_text_normal">7.他のユーザーに成りすます行為</p>
        <p class="privacy_text_normal">8.当方のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</p>
        <p class="privacy_text_normal">9.当方，本サービスの他のユーザーまたは第三者の知的財産権，肖像権，プライバシー，名誉その他の権利または利益を侵害する行為</p>
        <p class="privacy_text_normal">10.以下の表現を含み，または含むと当社が判断する内容を本サービス上に投稿し，または送信する行為</p>
        <p class="privacy_text_small">・ 過度に暴力的な表現</p>
        <p class="privacy_text_small">・ 露骨な性的表現</p>
        <p class="privacy_text_small">・ 人種，国籍，信条，性別，社会的身分，門地等による差別につながる表現</p>
        <p class="privacy_text_small">・ 自殺，自傷行為，薬物乱用を誘引または助長する表現</p>
        <p class="privacy_text_small">・ その他反社会的な内容を含み他人に不快感を与える表現</p>
        <p class="privacy_text_normal">以下を目的とし，または目的とすると当方が判断する行為</p>
        <p class="privacy_text_small">・ 営業，宣伝，広告，勧誘，その他営利を目的とする行為（当社の認めたものを除きます。）</p>
        <p class="privacy_text_small">・ 性行為やわいせつな行為を目的とする行為</p>
        <p class="privacy_text_small">・ 面識のない異性との出会いや交際を目的とする行為</p>
        <p class="privacy_text_small">・ 他のユーザーに対する嫌がらせや誹謗中傷を目的とする行為</p>
        <p class="privacy_text_small">・ 当方，本サービスの他のユーザー，または第三者に不利益，損害または不快感を与えることを目的とする行為</p>
        <p class="privacy_text_small">・ その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</p>
        <p class="privacy_text_small">・宗教活動または宗教団体への勧誘行為</p>
        <p class="privacy_text_small">・その他，当社が不適切と判断する行為</p>

        <h5 class="privacy_titles">第9条（本サービスの提供の廃止及び中断等）</h5>
        <p class="privacy_text_normal">当方は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部を廃止又は中断することができるものとします。</p>
        <p class="privacy_text_small">・ 本サービス用のハード・ソフト・通信機器設備等に関わるメンテナンスや修理を定期的又は緊急に行う場合</p>
        <p class="privacy_text_small">・ 地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</p>
        <p class="privacy_text_small">・ アクセス過多、その他予期せぬ要因でシステムに負荷が集中した場合</p>
        <p class="privacy_text_small">・ ユーザーのセキュリティを確保する必要が生じた場合</p>
        <p class="privacy_text_small">・ 電気通信事業者の役務が提供されない場合</p>
        <p class="privacy_text_small">・ その他，当社が本サービスの提供が困難と判断した場合</p>
        <p class="privacy_text_normal"> 当方は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</p>

        <h5 class="privacy_titles">第10条（利用制限および登録抹消）</h5>
        <p class="privacy_text_normal">
            当方は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。
            本サービスは、当方の判断により本サービスの全部又は一部の提供・運営を終了することができるものとします。本サービスは、本サービスの判断により本サービスの全部又は一部の提供・運営を終了する場合、本サービスが適当と判断する方法でユーザーにその旨通知いたします。
        </p>

        <h5 class="privacy_titles">第11条（解約・返金）</h5>
        <p class="privacy_text_normal">
            本サービス利用の停止は本サービス上より解約手続を行ってください。解約手続が完了した月の翌月以降の月額利用料金の請求を停止いたします。
            解約手続きは、当サービスのアプリを立ち上げ後、画面左上のメニューから「退会」画面に移動し、「退会」ボタンを押してください。月の途中の解約となった場合もサービス利用料金が発生し、日割り計算等による返金を含めた一切の返金は行っておりません。
        </p>

        <h5 class="privacy_titles">第12条（保証の否認および免責事項）</h5>
        <p class="privacy_text_normal">
            当方は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。
            出品店との間、若しくは出品店と第三者（顧客を含みますがこれに限られません。）との間で生じたトラブルに関しては、会員の責任において処理及び解決するものとし、当方はかかる事項について一切責任を負わないこととします。ただし、当方に故意又は重大な過失がある場合はこの限りではありません。
            前項ただし書に定める場合であっても，当方は，当方の過失（重過失を除きます。）による債務不履行または不法行為により出品店に生じた損害のうち特別な事情から生じた損害（当方またはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。また，当方の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は，ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。
            当方は、いかなる場合でも、会員の逸失利益、間接損害、特別損害、拡大損害、弁護士費用その他の通常かつ直接の損害以外の損害を賠償しないものとします。
            当方は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。
            当方は、会員が本サービスを利用する際に発生する通信費用について、一切負担しないものとします。
            当方は、会員が本サービスを利用することにより一定の売上を得ることができることを保証するものではありません。
            当方は、本サービスの一時停止・サービス変更・中止に伴い会員及び第三者が被った不利益・損害に関して一切責任を負わないこととします。
        </p>

        <h5 class="privacy_titles">第13条 (紛争処理及び損害賠償)</h5>
        <p class="privacy_text_normal">
            出品店は、本利用規約に違反することにより、又は本サービスの利用に関連して当方に損害を与えた場合、当方に対しその損害を賠償しなければなりません。
            出品店が、本サービスに関連して他のユーザーその他の第三者からクレームを受け又はそれらの者との間で紛争を生じた場合には、直ちにその内容を当方に通知するとともに、ユーザーの費用と責任において当該クレーム又は紛争を処理し、当方からの要請に基づき、その経過及び結果を当方に報告するものとします。
            出品店による本サービスの利用に関連して、当方が、他のユーザーその他の第三者から権利侵害その他の理由により何らかの請求を受けた場合は、出品店は当該請求に基づき当方が当該第三者に支払を余儀なくされた金額を賠償しなければなりません。
            当方は、本サービスに関連して出品店が被った損害について、一切賠償の責任を負いません。なお、消費者契約法の適用その他の理由により、本項その他当方の損害賠償責任を免責する規定にかかわらず当方がユーザーに対して損害賠償責任を負う場合においても、当方の賠償責任は、1000円を上限とします。ただし、当方に故意又は重大な過失がある場合はこの限りではありません。
        </p>

        <h5 class="privacy_titles">第14条（秘密保持）</h5>
        <p class="privacy_text_normal">
            本利用規約において「秘密情報」とは、利用契約又は本サービスに関連して、出品店が、当方より書面、口頭若しくは記録媒体等により提供若しくは開示されたか、又は知り得た、当方の技術、営業、業務、財務、組織、その他の事項に関する全ての情報を意味します。但し、(1)当方から提供若しくは開示がなされたとき又は知得したときに、既に一般に公知となっていた、又は既に知得していたもの、(2)当方から提供若しくは開示又は知得した後、自己の責めに帰せざる事由により刊行物その他により公知となったもの、(3)提供又は開示の権限のある第三者から秘密保持義務を負わされることなく適法に取得したもの、(4)秘密情報によることなく単独で開発したもの、(5)当方から秘密保持の必要なき旨書面で確認されたものについては、秘密情報から除外するものとします。
            出品店は、秘密情報を本サービスの利用の目的のみに利用するとともに、当方の書面による承諾なしに第三者に当方の秘密情報を提供、開示又は漏洩しないものとします。
            第2項の定めに拘わらず、出品店は、法律、裁判所又は政府機関の命令、要求又は要請に基づき、秘密情報を開示することができます。但し、当該命令、要求は要請があった場合、速やかにその旨を当方に通知しなければなりません。
            出品店は、秘密情報を記載した文書又は磁気記録媒体等を複製する場合には、事前に当方の書面による承諾を得ることとし、複製物の管理については第2項に準じて厳重に行うものとします。
            出品店は、当方から求められた場合にはいつでも、遅滞なく、当方の指示に従い、秘密情報並びに秘密情報を記載又は包含した書面その他の記録媒体物及びその全ての複製物を返却又は廃棄しなければなりません。
        </p>

        <h5 class="privacy_titles">第15条（サービス内容の変更等）</h5>
        <p class="privacy_text_normal">
            当方は，出品店に通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによって出品店に生じた損害について一切の責任を負いません。
            本サービスは、当方の判断により本サービスの全部又は一部の提供・運営を終了することができるものとします。本サービスは、本サービスの判断により本サービスの全部又は一部の提供・運営を終了する場合、本サービスが適当と判断する方法で出品店にその旨通知いたします。
        </p>

        <h5 class="privacy_titles">第16条（利用規約の変更）</h5>
        <p class="privacy_text_normal">
            当方は，必要と判断した場合には，当方に通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該出品店は変更後の規約に同意したものとみなします。　
        </p>

        <h5 class="privacy_titles">第17条（個人情報の取扱い）</h5>
        <p class="privacy_text_normal">
            当方は，本サービスの利用によって取得する個人情報については，当方「プライバシーポリシー」に従い適切に取り扱うものとします。
        </p>

        <h5 class="privacy_titles">第18条（通知または連絡）</h5>
        <p class="privacy_text_normal">
            本サービスに関する利用者の当方へのご連絡・お問い合わせは、本サービスの適宜の場所に設置するお問い合わせフォームからの送信により行うものとします。当方は,出品店から,当方が別途定める方式に従った変更届け出がない限り,現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い,これらは,発信時に出品店へ到達したものとみなします。
            </p>

        <h5 class="privacy_titles">>第19条（メール配信の許諾）</h5>
        <p class="privacy_text_normal">
            出品店には、登録メールアドレスに対する当方からの重要な連絡等のメール送信および当方からのメールマガジン等のお知らせや広告を含むメール送信を許諾いただきます。なお、お送りする電子メールの形式は、HTML形式・テキスト形式を問いません。また、お送りする電子メールの内容には、当方が別途契約を締結した第三者からの情報や広告が含まれている場合があります。
            出品店に属性種別を設け、出品店にとって有益と判断される情報を、それぞれの出品店に異なる内容でメール配信することがあります。
        </p>

        <h5 class="privacy_titles">第20条（権利義務の譲渡の禁止）</h5>
        <p class="privacy_text_normal">
            出品店は，当方の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。
        </p>

        <h5 class="privacy_titles">第21条（準拠法・裁判管轄）</h5>
        <p class="privacy_text_normal">
            本規約の解釈にあたっては，日本法を準拠法とします。
            本サービスに関して紛争が生じた場合には，当社の本店所在地を管轄する裁判所を専属的合意管轄とします。
        </p>
    </section>
{% endblock body %}