{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
    <section class="listing mg_t50 pd_b50">
       
        <h5 class=" change_text mg_t70">利用規約</h5>

        <a href="#" class="change_text_small mg_t70 btn_02">ユーザー利用規約</a>
        <a href="#" class="change_text_small mg_t20 btn_02">出品店利用規約</a>

        <a href="#" class="change_text_small mg_t20 btn_02">プライバシーポリシー</a>

        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t70 mg_b20 ">ユーザー利用規約</div>
            <p>この利用規約（以下，「本規約」といいます。）は，traiangle（以下，「当方」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第1条（適用）</div>
            <p>
                本規約は，ユーザーと当方との間の本サービスの利用に関わる一切の関係に適用されるものとします。<br>
                当方は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。<br>
                本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第2条（利用登録）</div>
            <p>
                 本サービスにおいては，登録希望者が本規約に同意の上，当方の定める方法によって利用登録を申請し，当方がこの承認を登録希望者に通知することによって，利用登録が完了するものとします。<br>
                 当方は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。<br>
                     ・ 利用登録の申請に際して虚偽の事項を届け出た場合<br>
                     ・ 本規約に違反したことがある者からの申請である場合<br>
                     ・ 18歳以上の未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人､保佐人又は補助人の同意等を得ていなかった場合。なお、当社はかかる同意等を示す書面の提出を求めることがありますが、かかる書面が提出された場合でも、登録を拒否することがあります。<br>
                     ・ 反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合<br>
                     ・ その他，当社が利用登録を相当でないと判断した場合
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第3条 (メールアドレス及びパスワードの管理)</div>
            <p>  ユーザーは、ユーザーが当方の定めるところに従い本サービス上で設定するメールアドレス、パスワード等の管理を行う責任を負うものとします。<br>
                 ユーザーはメールアドレス及びパスワード等を第三者に利用させ、又は譲渡若しくは担保設定その他の処分をすることはできないものとします。<br>
                 メールアドレス及びパスワード等の管理不十分、使用上の過誤、第三者の使用等による損害の責任は会員が負うものとし、当社は一切の責任を負わないものとします。<br>
                 ユーザーは、メールアドレス又はパスワード等が第三者に漏れた場合、あるいはメールアドレス又はパスワード等が第三者に使用されている疑いのある場合には、直ちに当方にその旨を連絡するとともに、当方の指示がある場合にはこれに従うにものとします。この場合、当方はそのメールアドレスやパスワード等を不正アカウントとして停止することができるものとし、当方は、かかる停止に基づき会員に生じた損害について一切の責任を負いません。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第4条（利用料金および支払方法）</div>
            <p> 本サービスによって購入する商品等のお支払いは、利用者本人名義のクレジットカードによるお支払いのみとします。<br>
                クレジットカードでのお支払いについては、利用者がカード会社との間で別途契約する条件に従うものとします。なお利用者とカード会社等の間で紛争が生じた場合には、利用者は自己の責任と費用で当該紛争を処理解決するものとし、本サービスおよび出品店に迷惑を被らせないものとします。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第5条（禁止事項）</div>
            <p>ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。<br>
                　・ 法令または公序良俗に違反する行為<br>
                　・ 犯罪行為に関連する行為<br>
                　・ 当方，本サービスの他のユーザー，または第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為<br>
                　・ 当方のサービスの運営を妨害するおそれのある行為<br>
                　・ 他のユーザーに関する個人情報等を収集または蓄積する行為<br>
                　・ 不正アクセスをし，またはこれを試みる行為<br>
                　・ 他のユーザーに成りすます行為<br>
                　・ 当方のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為<br>
                　・ 当方，本サービスの他のユーザーまたは第三者の知的財産権，肖像権，プライバシー，名誉その他の権利または利益を侵害する行為<br>
                 以下の表現を含み，または含むと当社が判断する内容を本サービス上に投稿し，または送信する行為<br>
                　・過度に暴力的な表現<br>
                　・ 露骨な性的表現<br>
                　・人種，国籍，信条，性別，社会的身分，門地等による差別につながる表現<br>
                　・ 自殺，自傷行為，薬物乱用を誘引または助長する表現<br>
                　・ その他反社会的な内容を含み他人に不快感を与える表現<br>
                 以下を目的とし，または目的とすると当方が判断する行為<br>
                 ・ 営業，宣伝，広告，勧誘，その他営利を目的とする行為（当社の認めたものを除きます。）<br>
                 ・ 性行為やわいせつな行為を目的とする行為<br>
                 ・ 面識のない異性との出会いや交際を目的とする行為<br>
                 ・ 他のユーザーに対する嫌がらせや誹謗中傷を目的とする行為<br>
                 ・ 当方，本サービスの他のユーザー，または第三者に不利益，損害または不快感を与えることを目的とする行為<br>
                 ・ その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為<br>
                 ・ 宗教活動または宗教団体への勧誘行為<br>
                 ・ その他，当社が不適切と判断する行為<br>
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第6条（本サービスの提供の廃止及び中断等）</div>
            <p> 当方は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部を廃止又は中断することができるものとします。<br>
                ・ 本サービス用のハード・ソフト・通信機器設備等に関わるメンテナンスや修理を定期的又は緊急に行う場合<br>
                ・ 地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合<br>
                ・ アクセス過多、その他予期せぬ要因でシステムに負荷が集中した場合<br>
                ・ ユーザーのセキュリティを確保する必要が生じた場合<br>
                ・ 電気通信事業者の役務が提供されない場合<br>
                ・ その他，当社が本サービスの提供が困難と判断した場合<br>
             当方は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第7条（利用制限および登録抹消） </div>
            <p> 当方は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，投稿データを削除し，ユーザーに対して本サービスの全部もしくは一部の利用を制限しまたはユーザーとしての登録を抹消することができるものとします。<br>
                ・ 本規約のいずれかの条項に違反した場合<br>
                ・ 登録事項に虚偽の事実があることが判明した場合<br>
                ・ 決済手段として当該ユーザーが届け出たクレジットカードが利用停止となった場合<br>
                ・ 料金等の支払債務の不履行があった場合<br>
                ・ 当方からの連絡に対し，一定期間返答がない場合<br>
                ・ 本サービスについて，最終の利用から一定期間利用がない場合<br>
                ・ その他，当方が本サービスの利用を適当でないと判断した場合<br>
             前項各号のいずれかに該当した場合，ユーザーは，当然に当方に対する一切の債務について期限の利益を失い，その時点において負担する一切の債務を直ちに一括して弁済しなければなりません。<br>
             当方は，本条に基づき当方が行った行為によりユーザーに生じた損害について，一切の責任を負いません。

            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第8条（退会）</div>
            <p>ユーザーは，当方の定める退会手続により，本サービスから退会できるものとします。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第9条（保証の否認および免責事項）</div>
            <p> 当方は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。<br>
                 当方は，本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。ただし，本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。<br>
                 前項ただし書に定める場合であっても，当社は，当方の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当方またはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。また，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は，ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。<br>
                 当方は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。

            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第10条（サービス内容の変更等）</div>
            <p>当方は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。<br>
                本サービスは、当方の判断により本サービスの全部又は一部の提供・運営を終了することができるものとします。本サービスは、本サービスの判断により本サービスの全部又は一部の提供・運営を終了する場合、本サービスが適当と判断する方法でユーザーにその旨通知いたします。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第11条（利用規約の変更）</div>
            <p>当方は，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該ユーザーは変更後の規約に同意したものとみなします。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第12条（個人情報の取扱い）</div>
            <p>当方は，本サービスの利用によって取得する個人情報については，当方「プライバシーポリシー」に従い適切に取り扱うものとします。 </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第13条（通知または連絡）</div>
            <p>本サービスに関する利用者の当方へのご連絡・お問い合わせは、本サービスの適宜の場所に設置するお問い合わせフォームからの送信により行うものとします。当方は,ユーザーから,当方が別途定める方式に従った変更届け出がない限り,現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い,これらは,発信時にユーザーへ到達したものとみなします。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第14条 (メール配信の許諾)</div>
            <p> ユーザーには、登録メールアドレスに対する当方からの重要な連絡等のメール送信および当方からのメールマガジン等のお知らせや広告を含むメール送信を許諾いただきます。なお、お送りする電子メールの形式は、HTML形式・テキスト形式を問いません。また、お送りする電子メールの内容には、当方が別途契約を締結した第三者からの情報や広告が含まれている場合があります。<br>
                 ユーザーに属性種別を設け、ユーザーにとって有益と判断される情報を、それぞれのユーザーに異なる内容でメール配信することがあります。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100">
            <div class="change_text_small mg_t50 mg_b20">第15条（権利義務の譲渡の禁止）</div>
            <p>ユーザーは，当方の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。
            </p>
        </div>
        <div class="terms-text pd_l100 pd_r100 mg_b100">
            <div class="change_text_small mg_t50 mg_b20">第16条（準拠法・裁判管轄）</div>
            <p> 本規約の解釈にあたっては，日本法を準拠法とします。
                 本サービスに関して紛争が生じた場合には，当方の本店所在地を管轄する裁判所を専属的合意管轄とします。
                
            </p>
        </div>


    </section>
{% endblock body %}